-e git+https://github.com/techniq/flask-script.git@6e47afcea25e2ad26a9c32371b3ebe34f3704b12#egg=Flask_Script-dev
cssselect==0.8
Flask==0.10.1
itsdangerous==0.22
Jinja2==2.7
lxml==3.2.1
MarkupSafe==0.18
path.py==4.3
pyquery==1.2.4
requests-cache==0.4.0
requests==1.2.3
Werkzeug==0.9.2
