-e git+https://github.com/mitsuhiko/flask-sqlalchemy.git@2edb3f14931eefde4bf467e88f7373704ce1ecd3#egg=Flask_SQLAlchemy-dev
-e git+https://github.com/techniq/flask-script.git@6e47afcea25e2ad26a9c32371b3ebe34f3704b12#egg=Flask_Script-dev
cssselect==0.8
Flask==0.10.1
itsdangerous==0.22
Jinja2==2.7
lxml==3.2.1
MarkupSafe==0.18
path.py==4.3
pyquery==1.2.4
requests-cache==0.4.0
requests==1.2.3
SQLAlchemy==0.8.2
Werkzeug==0.9.2
