{% macro month(c_year, c_month) %}
{% set calendar_tool = calendar_tool_factory() %}
<h3>{{ '%d – %02d'|format(c_year, c_month) }}</h3>

<table>
{% for week in calendar_tool.monthdatescalendar(c_year, c_month) %}
  <tr>
  {% for day in week %}
    <td>
      {% if day.month == c_month %}
        {% if day in transcript_days %}
          {% set url = url_for('.transcript_contents',
                               date_str=day.isoformat()) %}
          <a href="{{ url }}">{{ day.day }}</a>
        {% else %}
          {{ day.day }}
        {% endif %}
      {% endif %}
    </td>
  {% endfor %}
  </tr>
{% endfor %}
</table>
{% endmacro %}


{% macro calendar() %}
  {% for (c_year, c_month) in [
      (2012, 12),
      (2013, 1),
      (2013, 2),
      (2013, 3),
      (2013, 4),
      (2013, 5),
      (2013, 6),
      (2013, 7),
    ] %}

    <section class="calendar-month">
      {{- month(c_year, c_month) }}
    </section>
  {% endfor %}
{% endmacro %}
