{% extends 'layout.html' %}


{% block content %}
  <h1>Openpolitics.ro MP Tracker</h1>

  <p>
    <a href="{{ url_for('.person_index') }}">Persoane</a>
  </p>

  <p>
    <a href="{{ url_for('.steno_index') }}">Stenograme</a>
  </p>

  <p>
    {% set url = url_for('questions.mandate_index') %}
    <a href="{{ url }}">Întrebări și interpelări</a> –
    <a href="{{ url_for('questions.new') }}">noi ({{ new_count }})</a>,
    <a href="{{ url_for('questions.bugs') }}">bugs ({{ bugs_count }})</a>
  </p>

  <p>
    {% set url = url_for('proposals.relevant') %}
    <a href="{{ url }}">Propuneri legislative</a>
  </p>

  <p>
    {% set url = url_for('.committee_index') %}
    <a href="{{ url }}">Comisii</a>
  </p>

  <p>
    {% set url = url_for('.group_index') %}
    <a href="{{ url }}">Grupuri parlamentare</a>
  </p>
{% endblock %}
