{% extends 'layout.html' %}


{% block content %}
  {%- from 'bits.html' import breadcrumbs %}
  {%- set breadcrumb_links = [
        (person|string,
            url_for('pages.person', person_id=person.id)),
        ("propuneri legislative",
            None),
      ] %}
  {{ breadcrumbs(breadcrumb_links) }}

  <ul>
  {% for proposal in proposals %}
    <li>
      {% set url = url_for('.proposal', proposal_id=proposal.id) %}
      <a href="{{ url }}">{{ proposal.title|truncate(160) }}</a>
    </li>
  {% endfor %}
  </ul>

{% endblock %}
