{% extends 'layout.html' %}


{% block content %}
  <h1>{{ person.name }} – întrebări și interpelări</h1>

{% for match_data in question_matches %}
  <article class="qmatch">
    {% set question = match_data.question %}

    <h3>{{ question.title|truncate(80) }}</h3>
    <p>{{ question.date }}</p>

    <ul>
    {% for match in match_data.top_matches %}
      <li>
        {{ question.text[:match.token.start][-40:] }}
        <strong class="qmatch-highlight">{{ match.token.text }}</strong>
        {{ question.text[match.token.end:][:40] }}
        ({{ match.name }} {{ (match.distance * 100)|int }}%)
      </li>
    {% endfor %}
    </ul>
  </article>
{% endfor %}

{% endblock %}
