{% extends 'layout.html' %}


{% block content %}
  {%- from 'bits.html' import breadcrumbs %}
  {%- set breadcrumb_links = [
        ("deputați",
            url_for('.person_index')),
        (person.cdep_id,
            None),
      ] %}
  {{ breadcrumbs(breadcrumb_links) }}

  <h1>{{ person.name }}</h1>

 {% for mandate in mandates %}
  <section class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{ mandate.chamber_name }}
        {{ mandate.year }} &mdash;
        {{ mandate.county_name }}
      </h3>
    </div>

    <dl class="dl-horizontal">
      {% if mandate.cdep_url %}
        <dt>cdep.ro:</dt>
        <dd><a href="{{ mandate.cdep_url }}">{{ mandate.cdep_url }}</a></dd>
      {% endif %}

      <dt>luări de cuvânt:</dt>
      <dd>{{ mandate.paragraphs_count }}</d>

      <dt>întrebări și interpelări:</dt>
      <dd>
        {% set url = url_for('questions.person_questions',
                             person_id=person.id) %}
        <a href="{{ url }}">{{ mandate.questions_count }}</a>
      </dd>

      <dt>propuneri legislative:</dt>
      <dd>
        {% set url = url_for('proposals.person_proposals',
                             person_id=person.id) %}
        <a href="{{ url }}">{{ mandate.sponsorships_count }}</a>
      </dd>
    </dl>
  </section>
 {% endfor %}

{% endblock %}
