{% extends 'layout.html' %}


{% block content %}
  <h1>{{ person.name }}</h1>

  {% for date, paragraphs in steno_data %}
  <h3>{{ date }}</h3>

  <ul>
  {% for p in paragraphs %}
    <li>
      {% set chapter = p.chapter %}
      {% set url = url_for('.steno_chapter',
                           date_str=chapter.date.isoformat(),
                           chapter_serial_number=chapter.serial_number) %}
      [<a href="{{ url }}">{{ chapter.serial }}</a>]

      {{ p.text }}
    </li>
  {% endfor %}
  </ul>
  {% endfor %}

{% endblock %}
