{% extends 'layout.html' %}


{% block content %}
  {% set url = url_for('.steno_contents', date_str=date.isoformat()) %}
  <p>
    <a href="{{ url }}">&laquo; stenograme din {{ date.isoformat() }}</a>
  </p>
  <h1>{{ chapter.headline }}</h1>

  <ul>
  {% for paragraph in chapter.paragraphs %}
    <li>
      <h4>
        {% set mandate = paragraph.mandate %}
        {% if mandate %}
          {% set url = url_for('.person', person_id=mandate.person_id) %}
          <a href="{{ url }}">{{ mandate.person.name }}</a>
        {% else %}
          (altcineva)
        {% endif %}
      </h4>
      <p>{{ paragraph.text }}</p>
    </li>
  {% endfor %}
  </ul>

{% endblock %}
