{% extends 'layout.html' %}


{% block content %}
  <h1>Stenograme</h1>

  {% for (year, month) in [
      (2012, 12),
      (2013, 1),
      (2013, 2),
      (2013, 3),
      (2013, 4),
      (2013, 5),
      (2013, 6),
      (2013, 7),
    ] %}

    <h2>{{ '%d – %02d'|format(year, month) }}</h2>

    <table>
    {% for week in calendar.monthdatescalendar(year, month) %}
      <tr>
      {% for day in week %}
        <td>
          {% if day.month == month %}
            {{ day.day }}
          {% endif %}
        </td>
      {% endfor %}
      </tr>
    {% endfor %}
    </table>
  {% endfor %}

{% endblock %}
