{% extends 'layout.html' %}


{% block content %}
  {% set url = url_for('.steno_contents', date_str=date.strftime('%Y%m%d')) %}
  <p>
    <a href="{{ url }}">
      &laquo; stenograme din
      {{ date.strftime('%Y-%m-%d') }}
    </a>
  </p>
  <h1>{{ section.headline }}</h1>

  <ul>
  {% for paragraph in section.paragraphs %}
    <li>
      <h4>
        {% set person = paragraph.person %}
        {% if person.cdep_id %}
          {% set url = url_for('.person', person_id=person.id) %}
          <a href="{{ url }}">{{ person.name }}</a>
        {% else %}
          {{ person.name }}
        {% endif %}
      </h4>
      <p>{{ paragraph.text }}</p>
    </li>
  {% endfor %}
  </ul>

{% endblock %}
