{%- macro person_stats(slug, stats) %}
  <dl class="dl-horizontal">
    {%- set url = url_for('.person_votes', person_slug=slug) %}
    <dt>prezență la vot</dt>
    <dd>{{ stats.vote['attendance']|percent }}</dd>

    {%- if 'loyalty' in stats.vote %}
      <dt>loialitate față de partid</dt>
      <dd>
        <a href="{{ url }}">{{ stats.vote['loyalty']|percent }}</a>
      </dd>
    {%- endif %}

    {%- if 'cabinet_loyalty' in stats.vote %}
      <dt>loialitate față de guvern</dt>
      <dd>
        <a href="{{ url }}">{{ stats.vote['cabinet_loyalty']|percent }}</a>
      </dd>
    {%- endif %}

    <dt>luări de cuvânt</dt>
    <dd>{{ stats.speeches }}</dd>

    {%- set url = url_for('.person_questions', person_slug=slug) %}
    <dt>întrebări și interpelări</dt>
    <dd><a href="{{ url }}">{{ stats.questions }}</a></dd>

    {%- set url = url_for('.person_proposals', person_slug=slug) %}
    <dt>propuneri legislative</dt>
    <dd><a href="{{ url }}">{{ stats.proposals }}</a></dd>

    <dt>reprezentare locală</dt>
    <dd>
      {%- set url = url_for('.person_local', person_slug=slug) %}
      <a href="{{ url }}">{{ stats.local_score }}</a>
    </dd>
  </dl>
{%- endmacro %}
