{% set STATUS_LABEL = {
    'inprogress': "În lucru",
    'approved': "Aprobat",
    'rejected': "Respins",
  } %}

{% macro proposals_table(proposal_list) %}
    <h2>Propuneri legislative</h2>

    <div class="laws-list">
        {%- for proposal in proposal_list %}
            <div class="law">
                <div class="law-status-color {{ proposal.status }}"></div>
                <div class="law-title">
                    {%- set url = url_for('.policy_proposal', proposal_id=proposal.id) %}
                    <a href="{{ url }}">
                        {{- proposal.title|truncate(70) -}}
                    </a>
                </div>
                <div class="law-status-text">
                    {%- if proposal.tacit_approval %}
                        {%- set title =
                        "Aprobare tacită, " +
                        proposal.tacit_approval.date|datefmt + ", " +
                        proposal.tacit_approval.location %}
                        <span title="{{ title }}">
                            <i class="fa fa-exclamation-triangle"></i>
                        </span>
                    {%- endif %}
                    {%- if proposal.controversy %}
                        {% set title = "Controverse" %}
                        <span title="{{ title }}">
                            <i class="fa fa-exclamation-circle"></i>
                        </span>
                    {%- endif %}
                    {{- STATUS_LABEL[proposal.status] -}}
                </div>
                <div class="clear"></div>
            </div>
        {%- endfor %}
    </div>
{% endmacro %}

{% macro questions_table(question_list) %}
  <h2>Întrebări și interpelări</h2>

  <table class="table">
    <tbody>
      {%- for question in question_list %}
        <tr>
          <td>
            {{- question.title
                    |truncate(80)
                    |link_for('.person_question', question_id=question.id) -}}
          </td>

          <td>{{ question.date|datefmt }}</td>
        </tr>
      {%- endfor %}
    </tbody>
  </table>
{% endmacro %}
