{% extends 'admin_layout.html' %}


{% block content %}
  <h1>Edit <tt>{{ ns }}/{{ name }}</tt></h1>

  <form method="post">
    <div class="form-group">
      <label for="edit-content">Content</label>
      <textarea name="content"
        id="edit-content" class="form-control" rows="6">
        {{- content -}}
      </textarea>
    </div>

    <div class="form-group">
      <label for="edit-more-content">More content</label>
      <textarea name="more_content"
        id="edit-more-content" class="form-control" rows="16">
        {{- more_content -}}
      </textarea>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <a href="{{ url_for('.home') }}" class="btn btn-default">Cancel</a>
  </form>

  <script src="//cdnjs.cloudflare.com/ajax/libs/ckeditor/4.4.1/ckeditor.js"></script>
  <script>
  (function() {
    var options = {
      toolbar: [
        {name: 'styles', items: ['Format']},
        {name: 'basicstyles', items: ['Bold', 'Italic', 'Underline', 'Strike']},
        {name: 'paragraph', items: ['NumberedList', 'BulletedList', 'Indent', 'Outdent', '-', 'Blockquote']},
        {name: 'table', items: ['Table']},
        {name: 'links', items: ['Link', 'Unlink', '-', 'Anchor']},
        {name: 'subsuper', items: ['Subscript', 'Superscript']},
        {name: 'colors', items: ['TextColor', 'BGColor']},
        {name: 'tools', items: ['SpecialChar', '-', 'RemoveFormat', 'Maximize', '-', 'Source']}
      ]
    }
    CKEDITOR.replace('edit-content', options);
    CKEDITOR.replace('edit-more-content', options);
  })();
  </script>
{% endblock %}
