{% extends 'layout.html' %}

{% from '_policy_bits.html' import proposals_table, questions_table %}

{% block content %}
<div class="row container-content container-general container-policies">
  <div class="col-sm-8 divider-right">
    <h2>{{ name }} ({{ CHAMBER_NAME[chamber_id] }})</h2>

    <p>
      {% set url = (
        "http://www.cdep.ro/pls/parlam/structura.co"
        "?leg=2012&cam={}&idc={}"
        ).format(chamber_id, cdep_id) %}
      <a href="{{ url }}">Comisia</a> pe pagina Camerei Deputaților
    </p>

    {% if member_list %}
      <h3>Deputați</h3>

      <ul class="list-unstyled">
        {%- for member in member_list %}
          <li>
            {%- set url = url_for('.person_detail', person_slug=member.slug) %}
            <a href="{{ url }}">{{ member.name }}</a>
            {%- if member.role != "Membru" %}
              ({{ member.role }})
            {%- endif %}
          </li>
        {%- endfor %}
      </ul>
    {% endif %}
  </div>

  <div class="col-sm-4">
    {% include 'sidebar.html' %}
  </div>
</div>
{% endblock %}
