{% extends 'layout.html' %}

{% block content %}
<div class="container-content container-general export-page">
    <div class="col-sm-12">

      {{ text('export', fold=True) }}

      <table class="table">
        <tr>
          <th>Date</th>
          <th>Export</th>
        </tr>

        <tr>
          <td>Componența partidelor</td>
          <td>
            {% set url = url_for('.export_group_membership', migrare='initial') %}
            <a href="{{ url }}" class="btn btn-sm btn-primary">
              <i class="icon-download"></i> alegeri 2012
            </a>

            {% set url = url_for('.export_group_membership', migrare='curent') %}
            <a href="{{ url }}" class="btn btn-sm btn-primary">
              <i class="icon-download"></i> actual
            </a>

            {% set url = url_for('.export_group_membership', migrare='incheiat') %}
            <a href="{{ url }}" class="btn btn-sm btn-primary">
              <i class="icon-download"></i> mandate încheiate
            </a>

            {% set url = url_for('.export_group_membership', migrare='2013') %}
            <a href="{{ url }}" class="btn btn-sm btn-primary">
              <i class="icon-download"></i> migrări 2013
            </a>

            {% set url = url_for('.export_group_membership', migrare='2014') %}
            <a href="{{ url }}" class="btn btn-sm btn-primary">
              <i class="icon-download"></i> migrări 2014
            </a>

            {% set url = url_for('.export_group_membership') %}
            <a href="{{ url }}" class="btn btn-sm btn-primary">
              <i class="icon-download"></i> toate
            </a>
          </td>
        </tr>

        <tr>
          <td>Voturi</td>
          <td>
            {% set url = url_for('.export_votes', an='2012') %}
            <a href="{{ url }}" class="btn btn-sm btn-primary">
              <i class="icon-download"></i> 2012
            </a>

            {% set url = url_for('.export_votes', an='2013') %}
            <a href="{{ url }}" class="btn btn-sm btn-primary">
              <i class="icon-download"></i> 2013
            </a>

            {% set url = url_for('.export_votes', an='2014') %}
            <a href="{{ url }}" class="btn btn-sm btn-primary">
              <i class="icon-download"></i> 2014
            </a>

            {% set url = url_for('.export_votes') %}
            <a href="{{ url }}" class="btn btn-sm btn-primary">
              <i class="icon-download"></i> toate
            </a>
          </td>
        </tr>

        <tr>
          <td>Întrebări și interpelări</td>
          <td>
            {% set url = url_for('.export_questions', an='2013') %}
            <a href="{{ url }}" class="btn btn-sm btn-primary">
              <i class="icon-download"></i> 2013
            </a>

            {% set url = url_for('.export_questions', an='2014') %}
            <a href="{{ url }}" class="btn btn-sm btn-primary">
              <i class="icon-download"></i> 2014
            </a>

            {% set url = url_for('.export_questions') %}
            <a href="{{ url }}" class="btn btn-sm btn-primary">
              <i class="icon-download"></i> toate
            </a>
          </td>
        </tr>
      </table>
    </div>
</div>

<div class="container-content container-general">
  {% include '_comments.html' %}
</div>
{% endblock %}
