{% extends 'layout.html' %}

{% block content %}
<div class="row container-content container-general export-page">
    <div class="col-sm-8 divider-right">

      {{ text('export', fold=True) }}

      <table class="table">
        <tr>
          <th>Date</th>
          <th>Export</th>
        </tr>

        <tr>
          <td>Componența partidelor</td>
          <td>
            {% set url = url_for('.export_group_membership', date='2016-12-21') %}
            <a href="{{ url }}" class="btn btn-sm btn-primary">
              <i class="icon-download"></i> alegeri 2016
            </a>

            {% set url = url_for('.export_bounded_mandates', rq='late_start') %}
            <a href="{{ url }}" class="btn btn-sm btn-primary">
              <i class="icon-download"></i> mandate alegeri parțiale
            </a>

            {% set url = url_for('.export_bounded_mandates', rq='early_end') %}
            <a href="{{ url }}" class="btn btn-sm btn-primary">
              <i class="icon-download"></i> mandate încheiate
            </a>

            {% set url = url_for('.export_group_membership') %}
            <a href="{{ url }}" class="btn btn-sm btn-primary">
              <i class="icon-download"></i> actual
            </a>

            {% set url = url_for('.export_migrations', start='2017-01-01', end='2018-01-01') %}
            <a href="{{ url }}" class="btn btn-sm btn-primary">
              <i class="icon-download"></i> migrări 2017
            </a>

            {% set url = url_for('.export_migrations', start='2016-12-21') %}
            <a href="{{ url }}" class="btn btn-sm btn-primary">
              <i class="icon-download"></i> toate migrările
            </a>
          </td>
        </tr>

        <tr>
          <td>Voturi</td>
          <td>
            {% set url = url_for('.export_votes', year='2017') %}
            <a href="{{ url }}" class="btn btn-sm btn-primary">
              <i class="icon-download"></i> 2017
            </a>

            {% set url = url_for('.export_votes') %}
            <a href="{{ url }}" class="btn btn-sm btn-primary">
              <i class="icon-download"></i> toate
            </a>
          </td>
        </tr>

        <tr>
          <td>Întrebări și interpelări</td>
          <td>
            {% set url = url_for('.export_questions', year='2017') %}
            <a href="{{ url }}" class="btn btn-sm btn-primary">
              <i class="icon-download"></i> 2017
            </a>

            {% set url = url_for('.export_questions') %}
            <a href="{{ url }}" class="btn btn-sm btn-primary">
              <i class="icon-download"></i> toate
            </a>
          </td>
        </tr>

        {% if perm.admin.can() %}
          <tr>
            <td>Propuneri legislative</td>
            <td>
              {% set url = url_for('.export_proposals', year='2017') %}
              <a href="{{ url }}" class="btn btn-sm btn-primary">
                <i class="icon-download"></i> 2017
              </a>
            </td>
          </tr>

          <tr>
            <td>Activitate deputați</td>
            <td>
              {% set url = url_for('.export_activity', year='2017') %}
              <a href="{{ url }}" class="btn btn-sm btn-primary">
                <i class="icon-download"></i> 2017
              </a>

              {% set url = url_for('.export_policy') %}
              <a href="{{ url }}" class="btn btn-sm btn-primary">
                <i class="icon-download"></i> politici publice
              </a>
            </td>
          </tr>
        {% endif %}
      </table>
    </div>

    <div class="col-sm-4">
      {% include 'sidebar.html' %}
    </div>
</div>

<div class="container-content container-general">
  {% include '_comments.html' %}
</div>
{% endblock %}
