{% extends 'layout.html' %}

{% block content %}
  <h1>Export de date</h1>

  <table class="table">
    <tr>
      <th>Date</th>
      <th>Export</th>
    </tr>

    <tr>
      <td>Componența curentă a partidelor</td>
      <td>
        {% set url = url_for('.export_mp_list') %}
        <a href="{{ url }}" class="btn btn-sm btn-primary">
          <i class="icon-download"></i> csv
        </a>
      </td>
    </tr>

    <tr>
      <td>Componența istorică a partidelor</td>
      <td>
        {% set url = url_for('.export_group_membership') %}
        <a href="{{ url }}" class="btn btn-sm btn-primary">
          <i class="icon-download"></i> csv
        </a>
      </td>
    </tr>

    <tr>
      <td>Voturi</td>
      <td>
        {% set url = url_for('.export_votes', an='2012') %}
        <a href="{{ url }}" class="btn btn-sm btn-primary">
          <i class="icon-download"></i> 2012
        </a>

        {% set url = url_for('.export_votes', an='2013') %}
        <a href="{{ url }}" class="btn btn-sm btn-primary">
          <i class="icon-download"></i> 2013
        </a>

        {% set url = url_for('.export_votes', an='2014') %}
        <a href="{{ url }}" class="btn btn-sm btn-primary">
          <i class="icon-download"></i> 2014
        </a>

        {% set url = url_for('.export_votes') %}
        <a href="{{ url }}" class="btn btn-sm btn-primary">
          <i class="icon-download"></i> toate
        </a>
      </td>
    </tr>

    <tr>
      <td>Întrebări și interpelări</td>
      <td>
        {% set url = url_for('.export_questions') %}
        <a href="{{ url }}" class="btn btn-sm btn-primary">
          <i class="icon-download"></i> csv
        </a>
      </td>
    </tr>
  </table>
{% endblock %}
