<div class="topbar">
    <div class="container">
        <nav class="navbar navbar-default">
            <a class="navbar-brand" href="{{ url_for('pages.home') }}">
                <img src="{{ url_for('static', filename='img/open-parlament.png') }}" alt="Parlament Transparent" title="Parlament Transparent" />
            </a>
            <ul class="nav navbar-nav navbar-collapse">
            {%- for link in nav_link_list %}
                <li {%- if g.section == link['section'] %} class="active"{% endif %}>
                  <a href="{{ link['url'] }}">{{ link['label'] }}</a>
                </li>
            {%- endfor %}
              <li class="navbar-social">
                <a href="http://www.facebook.com/OpenPolitics.ro">
                    <img src="/static/img/icons/facebook.jpg" />
                </a>

                <a href="https://plus.google.com/104858678072022158034/">
                    <img src="/static/img/icons/google-plus.jpg" />
                </a>
                <a href="http://www.youtube.com/user/OpenPoliticsRO?feature=watch">
                    <img src="/static/img/icons/youtube.jpg" />
                </a>
              </li>
            </ul>
        </nav>
    </div>
</div>
