{% extends 'layout.html' %}


{% block content %}
  <h1>Open Parlament</h1>

  <p>
    {% set url = url_for('.policy_tacit') %}
    <a href="{{ url }}">legi adoptate tacit ({{ tacit_approvals_count }})</a>
  </p>

  <p>
    <a href="{{ url_for('.person_migrations') }}">migrări recente</a>
  </p>

  <h3>Propuneri legislative</h3>

  <ul class="list-unstyled">
    {% for item in recent_proposals %}
      {% set url = url_for(
          '.policy_proposal',
          proposal_id=item['proposal_id'],
        ) %}
      <li>
        <strong>{{ item['date']|datefmt }}:</strong>

        <a href="{{ url }}">{{ item['text'] }}</a>
      </li>
    {% endfor %}
  </ul>

  <h3>Întrebări și interpelări</h3>

  <ul class="list-unstyled">
    {% for item in recent_questions %}
      {% set url = url_for(
          '.person_question',
          question_id=item['question_id'],
        ) %}
      <li>
        <strong>{{ item['date']|datefmt }}:</strong>

        <a href="{{ url }}">{{ item['text'] }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
