{% extends 'layout.html' %}


{% block content %}
  <h1>MP Tracker</h1>

  <h3>Propuneri legislative</h3>

  <ul class="list-unstyled">
    {% for item in recent_proposals %}
      {% set url = url_for(
          '.policy_proposal',
          proposal_id=item['proposal_id'],
        ) %}
      <li>
        <strong>{{ item['date']|datefmt }}:</strong>

        <a href="{{ url }}">{{ item['text'] }}</a>
      </li>
    {% endfor %}
  </ul>

  <h3>Întrebări și interpelări</h3>

  <ul class="list-unstyled">
    {% for item in recent_questions %}
      <li>
        <strong>{{ item['date']|datefmt }}:</strong>

        {{ item['text'] }}
      </li>
    {% endfor %}
  </ul>
{% endblock %}
