<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static',
        filename='lib/bootstrap-3.0.2/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',
        filename='website.css') }}">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css">
    <title>{% block title %}Open Parlament{% endblock %}</title>
    {% block styles %}{% endblock %}
    <script>
        window.app = {
            PARTY_COLOR: {{ PARTY_COLOR|tojson }}
        };
    </script>
  </head>

  <body>
    {% include 'header.html' %}
    <div class="container">
      {% block content %}{% endblock %}
    </div>

    <script src="{{ url_for('static',
        filename='lib/jquery-1.10.1/jquery.min.js') }}"></script>
    {% include '_raven_js.html' with context %}
    <script src="{{ url_for('static',
        filename='lib/lodash-2.3.0/lodash.js') }}"></script>
    <script src="{{ url_for('static',
        filename='lib/backbone-1.1.0/backbone-min.js') }}"></script>
    <script src="{{ url_for('static',
        filename='lib/bootstrap-3.0.2/js/bootstrap.js') }}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/seedrandom/2.3.6/seedrandom.min.js"></script>
    <script src="{{ url_for('static', filename='website.js') }}"></script>
    {% block scripts %}{% endblock %}
    {%- include 'analytics.html' %}
  </body>
</html>
