{% extends 'layout.html' %}


{% block title %}{{ super() }} – {{ name }} - activitate locală{% endblock %}


{% block content %}
    {%- set url = url_for('.party_detail', party_short_name=party.short_name) %}
    <div class="container-content container-general">
        <div class="row">
            <div class="col-sm-8 divider-right">
                <h1><a href="{{ url }}">{{ party.name }} – {{ policy.name }}</a></h1>

                <h2>Membri activi</h2>

                <p>
                {%- for member in policy_members %}
                {{ member.name|link_for('.person_detail', person_slug=member.slug) }}
                {%- if not loop.last %}, {% endif %}
                {%- endfor %}
                </p>

                {% from '_policy_bits.html' import proposals_table, questions_table %}
                <h2>Propuneri legislative și proiecte de lege</h2>

                {{ proposals_table(policy.proposal_list) }}

                <h2>Întrebări și interpelări</h2>

                {{ questions_table(policy.question_list) }}
            </div>

            <div class="col-sm-4">
              {% include 'sidebar.html' %}
            </div>
        </div>
    </div>
{% endblock %}
