{% extends 'layout.html' %}


{% block content %}
  <h1>{{ party['name'] }}</h1>

  <div class="row">
    <div class="col-sm-8">
      <p class="placeholder" style="height: 400px">politici publice</p>
    </div>

    <div class="col-sm-4">
      <div>
        <h4>Statistici</h4>

        <dl class="dl-horizontal">
          <dt>loialitatea membrilor</dt>
          <dd>{{ party['loyalty']['all']|percent }}</dd>

          {%- if 'to-cabinet' in party['loyalty'] %}
            <dt>loialitate pentru guvern</dt>
            <dd>{{ party['loyalty']['to-cabinet']|percent }}</dd>
          {%- endif %}

          {%- for category, value in party['loyalty']['by-category'].items() %}
            {%- set title = POSITION_CATEGORY_TITLE.get(category, category) %}
            <dt>{{ title }}</dt>
            <dd>{{ value|percent }}</dd>
          {%- endfor %}

          <dt>membri la primul mandat</dt>
          <dd>{{ party['loyalty']['by-mandate-count']['one']|percent }}</dd>

          <dt>membri cu mai multe mandate</dt>
          <dd>{{ party['loyalty']['by-mandate-count']['multiple']|percent }}</dd>
        </dl>
      </div>

      <div>
        <h4>Membri</h4>

        <ul class="list-unstyled">
          {%- for member in party['member_list'] %}
            <li>
              {%- set url = url_for('.person_detail', person_slug=member['slug']) %}
              <a href="{{ url }}">{{ member['name'] }}</a>
            </li>
          {%- endfor %}
        </ul>
      </div>
    </div>
  </div>

{% endblock %}
