{% extends 'layout.html' %}


{% block content %}
<div class="container-content row">
  <div class="col-sm-8 divider-right">
    <div class="parties-content">
      {{ text('party_intro') }}

      <div class="seatchart"></div>

      <ul class="parties-list">
        {% for party in party_list %}
          <li>
            {%- set url = url_for('.party_detail', party_short_name=party.short_name) %}
            <a href="{{ url }}">
              <div class="party-logo">
                {%- if party.logo_url %}
                  <img src="{{ party.logo_url }}">
                {%- endif %}
              </div>

              <p>{{ party.name }}</p>

            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="col-sm-4">
    {% include 'sidebar.html' %}
  </div>
</div>
{% endblock %}


{% block scripts %}
<script src="{{ url_for('static',
    filename='lib/d3-3.3.13/d3.v3.js') }}"></script>
<script src="{{ url_for('static', filename='seatchart.js') }}"></script>
<script>
(function() {
  "use strict";

  $(document).ready(render);
  $(window).resize(render);

  function render() {
    app.render_seatchart({
      container: $('.seatchart').empty()[0],
      total: {{ seats_total }},
      highlight: {{ seats|tojson }}
    });
  }

})();
</script>
{% endblock %}
