{% extends 'layout.html' %}


{% block content %}
  <h1>{{ party['name'] }}</h1>

  <div class="row">
    <div class="col-sm-8">
      <p class="placeholder" style="height: 400px">politici publice</p>
    </div>

    <div class="col-sm-4">
      <div>
        <h4>Statistici</h4>

        <dl class="dl-horizontal">
          <dt>loialitatea membrilor</dt>
          <dd>{{ party['member_loyalty']|percent }}</dd>

          <dt>loialitate pentru guvern</dt>
          <dd>{{ party['cabinet_loyalty']|percent }}</dd>
        </dl>
      </div>

      <div>
        <h4>Membri</h4>

        <ul class="list-unstyled">
          {%- for member in party['member_list'] %}
            <li>
              {%- set url = url_for('.person_detail', person_slug=member['slug']) %}
              <a href="{{ url }}">{{ member['name'] }}</a>
            </li>
          {%- endfor %}
        </ul>
      </div>
    </div>
  </div>

{% endblock %}
