{% extends 'layout.html' %}


{% block title %}{{ super() }} – {{ name }} – comparație{% endblock %}


{% block styles %}
<style>
  #compare-votes .bar {
    fill: #888;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
</style>
{% endblock %}


{%- macro comparison_link(person_slug, other_person) %}
  {{ other_person.name|link_for(
    '.person_compare',
    person_slug=person_slug,
    other_person_slug=other_person.slug,
    ) }}
{%- endmacro %}


{% block content %}
  <h1>{{ name }}</h1>

  <h2>După voturi</h2>

  <div id="compare-votes"></div>

  {% for similar_position in same_position_category %}
    {%- set category = similar_position.category %}
    {%- set headline_list_id = 'compare-similar-position-' + category %}

    <h2 class="compare-headline" data-list="{{ headline_list_id }}">
      {%- set title = POSITION_CATEGORY_TITLE.get(category, category) %}
      Cu funcții similare ({{ title }})
    </h2>

    <ul class="compare-list" id="{{ headline_list_id }}">
      {%- for person in similar_position.person_list %}
        <li>{{ comparison_link(person_slug, person) }}</li>
      {%- endfor %}
    </ul>
  {% endfor %}

  {% if county_name %}
    <h2 class="compare-headline" data-list="compare-same-country">
      Din același județ ({{ county_name }})
    </h2>
  {% endif %}

  <ul class="compare-list" id="compare-same-country">
    {%- for person in same_county %}
      <li>{{ comparison_link(person_slug, person) }}</li>
    {%- endfor %}
  </ul>

  {% if party_short_name %}
    <h2 class="compare-headline" data-list="compare-same-party">
      Din același grup parlamentar ({{ party_short_name }})
    </h2>

    {% if same_party %}
      <ul class="compare-list" id="compare-same-party">
        {%- for person in same_party %}
          <li>{{ comparison_link(person_slug, person) }}</li>
        {%- endfor %}
      </ul>
    {% endif %}
  {% endif %}

  <h2 class="compare-headline" data-list="compare-same-mandate-count">
    Cu același număr de mandate ({{ mandate_count }})
  </h2>

  <ul class="compare-list" id="compare-same-mandate-count">
    {%- for person in same_mandate_count %}
      <li>{{ comparison_link(person_slug, person) }}</li>
    {%- endfor %}
  </ul>
{% endblock %}


{% block scripts %}
{{ super() }}
<script src="{{ url_for('static',
    filename='lib/d3-3.3.13/d3.v3.js') }}"></script>
<script src="{{ url_for('static', filename='votesimilaritychart.js') }}"></script>
<script>
  (function() {
    'use strict';
    $('.compare-headline').click(function(evt) {
      var headline = $(this);
      var list = $('#' + headline.data('list'));
      list.toggle();
      headline.toggleClass('expanded');
    });

    _.forEach($('.compare-headline'), function(h2) {
      $(h2).prepend(
        $('<span>').addClass('compare-headline-expanded').text('▼'),
        $('<span>').addClass('compare-headline-collapsed').text('▶︎')
      );
    });

    app.render_votesimilaritychart({
        container: $('#compare-votes'),
        vote_similarity_list: {{ vote_similarity_list|tojson }}
    });
  })();
</script>
{% endblock %}
