{% extends 'layout.html' %}


{% block title %}{{ super() }} – {{ name }} - activitate locală{% endblock %}


{% block content %}
<div class="container-content container-general no-breadcrumb">
    <div class="row">
        <div class="col-sm-12">
          {%- set url = url_for('.person_detail', person_slug=person_slug) %}
          <h1><a href="{{ url }}">{{ name }}</a> – {{ policy.name }}</h1>

          {% from '_policy_bits.html' import policy_tables, question_tables %}
          {{ policy_tables(policy.proposal_list) }}
          {{ question_tables(policy.question_list) }}
        </div>
    </div>
</div>
{% endblock %}
