{% extends 'layout.html' %}


{% block styles %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css">
<!--[if lte IE 8]><link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css"><![endif]-->
<style>
  #map {
    height: 350px;
  }
</style>
{% endblock %}


{% block content %}
<div class="container-content">
    <div class="row">
        <div class="col-sm-8 person-index">
            <div class="row search-section search-by-name">
                <div class="col-sm-12">
                    <h3>
                        <div class="bullet blue"></div>
                        <span>Căutare după nume</span>
                    </h3>
                    <form name="search-by-name" class="person-index-search-form form-inline">
                        <div class="row">
                            <div class="form-group col-sm-10">
                                <label for="search-by-name-input" class="sr-only">nume</label>
                                <input type="search" class="form-control" id="search-by-name-input" name="name_query" tabindex="1" placeholder="Nume deputat" data-toggle="tooltip" data-placement="top" title="Apăsați Enter pentru a vedea lista tuturor deputaților" />
                            </div>
                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-default">Caută</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row search-section search-by-policy">
                <div class="col-sm-12">
                    <h3>
                        <div class="bullet orange"></div>
                        <span>Căutare după politici publice</span>
                    </h3>
                    <form name="search-by-policy" class="person-index-search-form">
                        <div class="row">
                            <div class="form-group col-sm-10">
                                <label for="search-by-policy-input" class="sr-only">politică</label>
                                <select name="policy_slug" id="search-by-policy-input" class="form-control" tabindex="2">
                                    <option>--</option>
                                    {% for policy in policy_list %}
                                        <option value="{{ policy.slug }}">{{ policy.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-default">Caută</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row search-section search-by-contracts">
                <div class="col-sm-12">
                    <h3>
                        <div class="bullet yellow"></div>
                        <span>Căutare după contracte cu statul</span>
                    </h3>
                    <form name="search-by-contracts" class="person-index-search-form">
                        <div class="row">
                            <div class="form-group col-sm-10">
                                <label for="search-by-contracts-input" class="sr-only">text</label>
                                <input type="search" class="form-control" id="search-by-contracts-input" name="contracts_query" tabindex="3" placeholder="text" data-toggle="tooltip" data-placement="top" title="Apăsați Enter pentru a vedea lista tuturor deputaților care au avut contracte cu statul" />
                            </div>
                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-default">Caută</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row search-section geocode">
                <div class="col-sm-12">
                    <h3>
                        <div class="bullet green"></div>
                        <span>Căutare după circumscripție</span>
                    </h3>
                    <div class="row">
                        <form name="geocode" class="person-index-search-form">
                            <div class="form-group col-sm-10">
                                <label for="frm-address" class="sr-only">adresă</label>
                                <input type="search" name="address" tabindex="4" placeholder="Adresă" id="frm-address" class="form-control" />
                            </div>
                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-default">Caută</button>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="map"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-4 sidebar">
            <div class="social">
                {{ text('social') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
<script>
(function() {
  "use strict";

  app.person_search = new app.PersonSearch({
    el: $('form[name=search-by-name]'),
    url: {{ url_for('.person_index_search_name')|tojson|safe }}
  });

  app.person_search = new app.PersonPolicySearch({
    el: $('form[name=search-by-policy]'),
    url: {{ url_for('.person_index_search_policy')|tojson|safe }}
  });

  app.person_search = new app.PersonSearch({
    el: $('form[name=search-by-contracts]'),
    url: {{ url_for('.person_index_search_contracts')|tojson|safe }}
  });
})();
</script>

<script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
<script src="{{ url_for('static', filename='lib/topojson/topojson.js') }}"></script>
<script src="{{ url_for('static', filename='lib/leaflet-pip/leaflet-pip.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/leaflet.geocoding/leaflet.geocoding.js') }}"></script>
<script src="{{ url_for('static', filename='constituency.js') }}"></script>
<script>
(function() {
  "use strict";
  {%- set colleges_url = url_for('static', filename='colleges.topojson') %}
  app.create_map({
    colleges_url: {{ colleges_url|tojson|safe }},
    county_name: {{ county_name_map|tojson|safe }},
    mandate_data: {{ mandates_by_county|tojson|safe }}
  });
})();
</script>
{% endblock %}
