{% extends 'layout.html' %}


{% block title %}
  {{- super() }} – {{ name }} – comparație cu {{ other.name }}
{%- endblock %}


{% block content %}
<div class="container-content container-general">
    <div class="row">
        <div class="col-sm-12">
            <h2>
            Comparație între
            {{ name|link_for('.person_detail', person_slug=person_slug) }}
                și
            {{ other.name|link_for('.person_detail', person_slug=other.person_slug) }}
            </h2>

            <div id="similarity-barchart"></div>

            <div id="similarity-vote-venn"></div>

            <p>
              Graficul ia în calcul doar sesiunile de vot în care au
              fost prezenți ambii parlamentari și redă procentul în care
              au votat la fel.
            </p>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
<script src="{{ url_for('static',
    filename='lib/d3-3.3.13/d3.v3.js') }}"></script>
<script src="{{ url_for('static', filename='similaritychart.js') }}"></script>
<script>
(function() {
"use strict";

$(document).ready(render);
$(window).resize(render);


function render() {
    var barchart_container = $('#similarity-barchart').empty()[0];

    app.render_similarity_barchart({
        container: barchart_container,
        label: "prezență la vot",
        percent: true,
        data: {{ [
            {'class': 'me', 'value': stats.vote['attendance']},
            {'class': 'other', 'value': other.stats.vote['attendance']},
            ]|tojson }}
    });

    app.render_similarity_barchart({
        container: barchart_container,
        label: "loialitate față de partid",
        percent: true,
        data: {{ [
            {'class': 'me', 'value': stats.vote['loyalty']},
            {'class': 'other', 'value': other.stats.vote['loyalty']},
            ]|tojson }}
    });

    app.render_similarity_barchart({
        container: barchart_container,
        label: "loialitate față de guvern",
        percent: true,
        data: {{ [
            {'class': 'me', 'value': stats.vote['cabinet_loyalty']},
            {'class': 'other', 'value': other.stats.vote['cabinet_loyalty']},
            ]|tojson }}
    });

    var max_scalar = {{ ([
            stats.speeches, other.stats.speeches,
            stats.questions, other.stats.questions,
            stats.proposals, other.stats.proposals,
            stats.local_score, other.stats.local_score,
        ]|sort)[-1]|tojson
    }};

    app.render_similarity_barchart({
        container: barchart_container,
        label: "luări de cuvânt",
        max: max_scalar,
        data: {{ [
            {'class': 'me', 'value': stats.speeches},
            {'class': 'other', 'value': other.stats.speeches},
            ]|tojson }}
    });

    app.render_similarity_barchart({
        container: barchart_container,
        label: "întrebări și interpelări",
        max: max_scalar,
        data: {{ [
            {'class': 'me', 'value': stats.questions},
            {'class': 'other', 'value': other.stats.questions},
            ]|tojson }}
    });

    app.render_similarity_barchart({
        container: barchart_container,
        label: "propuneri legislative",
        max: max_scalar,
        data: {{ [
            {'class': 'me', 'value': stats.proposals},
            {'class': 'other', 'value': other.stats.proposals},
            ]|tojson }}
    });

    app.render_similarity_barchart({
        container: barchart_container,
        label: "reprezentare locală",
        max: max_scalar,
        data: {{ [
            {'class': 'me', 'value': stats.local_score},
            {'class': 'other', 'value': other.stats.local_score},
            ]|tojson }}
    });

    app.render_similarity_barchart({
        container: barchart_container,
        label: "prezență comisii 2013",
        percent: true,
        data: {{ attendance_data|tojson}}
    });

    app.render_similarity_vote_venn({
        container: $('#similarity-vote-venn').empty(),
        overlap: {{ similarity|tojson|safe }}
    });
}

})();
</script>
{% endblock %}
