{% extends 'layout.html' %}


{% block content %}
  <h1>{{ person_name }}</h1>

  <div class="row">
    <div class="col-sm-8">
      <p class="placeholder">stream graph cu activitatea</p>

      <ul class="list-unstyled">
        <li>
          Deputat de {{ college.county_name }},
          colegiul D{{ college.number }}
        </li>

        {% for membership in group_history %}
          <li>
            {{ membership.group_short_name }}
            ({{ membership.start_date|datefmt }} &ndash;
             {{ membership.end_date|datefmt or 'prezent' }})
            {% if membership.role %}({{ membership.role }}){% endif %}
          </li>
        {% endfor %}
      </ul>

      <p class="placeholder" style="height: 400px">ultimele declarații</p>
    </div>

    <div class="col-sm-4">
      <p class="placeholder" style="height: 150px">stats</p>

      <p class="placeholder" style="height: 200px">politici publice</p>

      <p class="placeholder" style="height: 300px">word cloud</p>
    </div>
  </div>
{% endblock %}
