{% extends 'layout.html' %}


{% block title %}{{ super() }} – {{ name }} – voturi{% endblock %}


{% block content %}
  <h1>{{ name }}</h1>

  <table class="table">
    <thead>
      <th>dată</th>
      <th>vot</th>
      <th>{{ name }}</th>
      <th>partid</th>
      <th>guvern</th>
    </thead>

    <tbody>
    {%- for vote in voting_session_list %}
      <tr>
        <td>{{ vote.date|datefmt }}</td>
        <td>{{ vote.subject|truncate(80) }}</td>
        <td>{{ VOTE_LABEL[vote.person_choice] }}</td>
        <td>{{ VOTE_LABEL[vote.group_choice] }} ({{ vote.group_short_name }})</td>
        <td>{{ VOTE_LABEL[vote.cabinet_choice] }}</td>
      </tr>
    {%- endfor %}
    </tbody>
  </table>
{% endblock %}
