{% extends 'layout.html' %}


{% block title %}{{ super() }} – {{ name }} - activitate locală{% endblock %}


{% block content %}
<div class="container-content container-general no-breadcrumb">
    <div class="row">
        <div class="col-sm-12">
          {%- set url = url_for('.person_detail', person_slug=person_slug) %}
          <h1><a href="{{ url }}">{{ name }}</a> – {{ policy.name }}</h1>

          {% from '_policy_bits.html' import proposals_table, questions_table %}

          <h2>Propuneri legislative</h2>

          {{ proposals_table(policy.proposal_list) }}

          <h2>Întrebări și interpelări</h2>

          {{ questions_table(policy.question_list) }}
        </div>
    </div>
</div>
{% endblock %}
