{% extends 'layout.html' %}

{% set TYPE_MAP = {
    'question': "întrebare",
    'interpelation': "interpelare",
    'proposal': "propunere legislativă",
    'speech': "luare de cuvânt",
  } %}


{% block title %}{{ super() }} – {{ name }}{% endblock %}


{% block content %}
  <h1>{{ name }}</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="activitychart"></div>
      <div class="membershipchart"></div>

      <ul class="list-unstyled">
        {% if college %}
          <li>
            {% set url = url_for('.person_county', county_id=college.county_id) %}
            Deputat de <a href="{{ url }}">{{ college.county_name }}</a>,
            colegiul D{{ college.number }}
          </li>
        {% else %}
          <li>Ales la nivel național</li>
        {% endif %}

        {% for position in position_list %}
          <li>
            {{ position.title }}
            ({{ position.start_date|datefmt }} &ndash;
             {{ position.end_date|datefmt or 'prezent' }})
          </li>
        {% endfor %}

        {% for membership in group_history %}
          <li>
            {%- set url = url_for('.party_detail', party_id=membership.group_id) %}
            <a href="{{ url }}">{{ membership.group_short_name }}</a>
            ({{ membership.start_date|datefmt }} &ndash;
             {{ membership.end_date|datefmt or 'prezent' }})
            {% if membership.role %}({{ membership.role }}){% endif %}
          </li>
        {% endfor %}
      </ul>

      <div>
        <h3>Activitate recentă</h3>

        <ul class="list-unstyled">
          {% for item in recent_activity %}
            <li>
              <strong>
                {{ item['date']|datefmt }},
                {{ TYPE_MAP.get(item['type']) }}
              </strong>:

              {% if 'url' in item %}
                <a href="{{ item['url'] }}">{{ item['text'] }}</a>
              {% else %}
                {{ item['text'] }}
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>

      {%- if romania_curata_text %}
        <h3>
          <a href="http://verificaintegritatea.romaniacurata.ro/">
            Contracte cu statul și probleme de integritate - România Curată
          </a>
        </h3>

        <p>{{ romania_curata_text }}</p>
      {%- endif %}
    </div>

    <div class="col-sm-4">
      <div>
        {%- if picture_url %}
          <div>
            <img src="{{ picture_url }}" width="100%">
          </div>
        {%- endif %}

        <h4>Statistici</h4>

        <dl class="dl-horizontal">
          <dt>prezență la vot</dt>
          <dd>{{ vote['attendance']|percent }}</dd>

          {%- if 'loyalty' in vote %}
            <dt>loialitate față de partid</dt>
            <dd>{{ vote['loyalty']|percent }}</dd>
          {%- endif %}

          {%- if 'cabinet_loyalty' in vote %}
            <dt>loialitate față de guvern</dt>
            <dd>{{ vote['cabinet_loyalty']|percent }}</dd>
          {%- endif %}

          <dt>luări de cuvânt</dt>
          <dd>{{ speeches }}</dd>

          <dt>propuneri legislative</dt>
          <dd>{{ proposals }}</dd>

          <dt>reprezentare locală</dt>
          <dd>
            {%- set url = url_for('.person_local', person_id=person_id) %}
            <a href="{{ url }}">{{ local_score }}</a>
          </dd>
        </dl>
      </div>

      <p class="placeholder" style="height: 200px">politici publice</p>

      <p class="placeholder" style="height: 300px">word cloud</p>
    </div>
  </div>
{% endblock %}


{% block scripts %}
<script src="{{ url_for('static',
    filename='lib/d3-3.3.13/d3.v3.js') }}"></script>
<script src="{{ url_for('static',
    filename='lib/d3-tip-70b1cf3/d3-tip.js') }}"></script>
<script src="{{ url_for('static', filename='activitychart.js') }}"></script>
<script src="{{ url_for('static', filename='membershipchart.js') }}"></script>
<script>
  $(document).ready(function() {
    var activitychart_data = {{ activitychart_data|tojson|safe }};
    app.render_activitychart($('.activitychart'), activitychart_data);

    var group_history = {{ group_history|tojson|safe }};
    app.render_membershipchart($('.membershipchart'), group_history);
  });
</script>
{% endblock %}
