{% extends 'layout.html' %}


{% block title %}{{ super() }} – {{ name }}{% endblock %}


{% block content %}
<div class="container-content container-general">
    <div class="row">
        <div class="col-sm-12">
            <h1>{{ name }}</h1>

            <dl class="dl-horizontal">
                {%- for mandate in mandate_list %}
                    <dd>
                        {%- set url = url_for('.person_detail', person_slug=mandate.person_slug) %}
                        <a href="{{ url }}">{{ mandate.person_name }}</a>
                    </dd>
                {%- endfor %}
            </dl>
        </div>
    </div>
</div>
{% endblock %}
