{% extends 'layout.html' %}


{% block title %}{{ super() }} – {{ name }}{% endblock %}


{% block content %}
  <h1>{{ name|link_for('.person_detail', person_slug=person_slug) }}</h1>

  <div class="row">
    <h3>Activitate</h3>
    <div class="activitychart"></div>

    <h3>Afiliere politică</h3>
    <div class="membershipchart"></div>

    {% from '_person_bits.html' import activity_item %}
    <ul class="list-unstyled">
      {% for item in recent_activity %}
        {{ activity_item(item) }}
      {% endfor %}
    </ul>
  </div>
{% endblock %}


{% block scripts %}
<script src="{{ url_for('static',
    filename='lib/d3-3.3.13/d3.v3.js') }}"></script>
<script src="{{ url_for('static',
    filename='lib/d3-tip-70b1cf3/d3-tip.js') }}"></script>
<script src="{{ url_for('static',
    filename='lib/d3-cloud-1.0.5/d3.layout.cloud.js') }}"></script>
<script src="{{ url_for('static', filename='activitychart.js') }}"></script>
<script src="{{ url_for('static', filename='membershipchart.js') }}"></script>
<script>
  $(document).ready(function() {
    app.render_activitychart({
      container: $('.activitychart'),
      data: {{ activitychart_data|tojson|safe }},
      one_year: false
    });

    app.render_membershipchart({
      container: $('.membershipchart'),
      data: {{ group_history|tojson|safe }},
      one_year: false
    });
  });
</script>
{% endblock %}
