{% extends 'layout.html' %}

{% from '_policy_bits.html' import proposals_table %}

{% block content %}
<div class="container-content container-general no-breadcrumb">
    <div class="row">
        <div class="col-sm-12">
            {{ text('tacit_approval') }}

            <h2>
              Lista propunerilor și proiectelor de lege adoptate
              tacit de Parlamentul 2012-2016
            </h2>

            {{ proposals_table(proposal_list) }}
        </div>
    </div>
</div>
{% endblock %}
