{% extends 'layout.html' %}

{% from '_policy_bits.html' import policy_css_background %}


{% block styles %}
{{ policy_css_background() }}
{% endblock %}


{% block content %}
<div class="container-content container-general policy-index-page">
    <div class="col-sm-12">
      {{ text('policy', fold=True) }}

      <ul class="list-unstyled policy-list">
        {% for policy in policy_list %}
          <li class="policy-{{ policy.slug }}">
            {%- set url = url_for('.policy_detail', policy_slug=policy.slug) %}
            <a href="{{ url }}">{{ policy.name }}</a>
          </li>
        {% endfor %}

        <li style="display: none">
          {%- set url = url_for('.policy_detail', policy_slug=None) %}
          <a href="{{ url }}">Altele</a>
        </li>
      </ul>

      {{ text('policy', below_fold=True) }}
  </div>
</div>
{% endblock %}
