{% extends 'layout.html' %}

{% from '_policy_bits.html' import policy_tables %}

{% block content %}
<div class="container-content container-general no-breadcrumb">
    <div class="row">
        <div class="col-sm-12">
            <h1>Proiecte de lege adoptate tacit</h1>

            <p>
                Constituția modificată din 2003 a fixat un interval de 45 de zile în care prima camera parlamentară sesizată poate dezbate și vota un proiect de lege sau o propunere legislativă, intervalul fiind extins la 60 de zile pentru "coduri și alte legi de complexitate deosebită". Prevederea a fost preluată de Regulamentul Camerei Deputaților care a clarificat și ce se întămplă cu documentele produse pe marginea inițiativei de lege de către comisiile abilitate din prima cameră sesizată:
            </p>

            <blockquote>
                Art. 113. –<br/>
                (1) În temeiul art. 75 alin. (1) şi (2) din Constituţia României, republicată, Camera Deputaţilor, ca prima Cameră sesizată, se pronunţă asupra proiectului de lege sau a propunerii legislative în termen de 45 de zile de la data prezentării la Biroul permanent. Fac excepţie codurile şi legile de complexitate deosebită, asupra cărora se pronunţă în termen de 60 de zile de la data prezentării la Biroul permanent şi ordonanţele de urgenţă, pentru care termenul este de 30 de zile de la data depunerii acestora la Camera Deputaţilor.<br/>
                (2) La data expirării termenelor prevăzute la alin. (1) proiectele de legi sau propunerile legislative se consideră adoptate de Camera Deputaţilor şi se trimit Senatului sub semnătura preşedintelui Camerei Deputaţilor.<br/>
                (3) Amendamentele, avizele şi, eventual, raportul care nu a fost dezbătut în plen se vor transmite Senatului ca material documentar.
            </blockquote>

            <p>
                Motivația inițială a modificării introduse în Constituția din 2003 se referea la accelararea și sporirea previzibilității procesului legislativ: indiferent de numărul și natura blocajelor din prima cameră sesizată, procedura adoptării tacite garantează faptul că legea va fi trimisă la camera decizională într-o perioadă de timp rezonabilă.
                Modelul românesc în care prima cameră sesizată poate adopta tacit o lege este atipic pentru parlamentele statelor membre UE. Acceptarea tacită se regăsește mai ales în cazul celei de a doua camere (cea care reprezintă unitățile federative) a statelor federale cu Parlamentele bicamerale (Austria, Germania, Belgia), care au în general atribuții mai degrabă consultative (Manea 2010: 4). Aici consimțământul tacit este rezervat camerelor secundare după ce camera decizională (întotdeauna aceeași - cea aleasă direct) și-a exprimat punctul de vedere. Aceeași situație se regăsește în cazul Camerei Lorzilor din Marea Britanie (Manea 2010: 8).
                La fel se întâmplă și în Cehia, un stat unitar cu legislativ bicameral unde Camera Deputaților este prima cameră sesizată și de asemenea cameră decizională, iar acceptarea tacită se aplică doar Senatului (Manea 2010: 10). În Franța - tăcerea nu duce la adoptarea legii ci la pierderea dreptului de legiferare în favoarea celeilalte camere (Manea 2010: 10-11). Fenomenul nu apare în traseul legislativ de adoptare a legilor în sistemele unicamerale, însă un principiu similar poate fi observat în faza promulgării în state precum Danemarca sau Finlanda (Manea 2010: 13-14).
            </p>

            <p>
                De la introducerea prevederii prin Constituția din 2003, numărul de proiecte de lege și propuneri legislative adoptate tacit de Camera Deputaților a variat destul de mult, după cum se poate vedea din Figura 1 de mai jos, influențat și de evenimente precum greva parlamentară a opoziției din prima sesiune din 2012. Dincolo de această variație, numărul total al adoptărilor tacite a fost relativ ridicat pentru fiecare din ultimele două legislaturi: 178 (2004-2008), 199 (2008-2012).
            </p>

            <p>

            <figure>
                <img src="{{ url_for('static', filename='help-figures/tacit1.jpeg') }}">
                <figcaption>
                    Figura 1: Evoluția legilor adoptate tacit la Camera Deputaților (2003-13)<br>
                    <em>Surse date: Manea 2010: 13; Alexandru et al. 2012: 19; Popovici și Moraru 2014: 4.</em>
                </figcaption>
            </figure>


            <p>
                În afara situațiilor de criză politică (precum schimbarea lui Mircea Geoană de la președinția Senatului în 2011 sau greva parlamentară din 2012) în care activitatea parlamentară normală este blocată, adoptarea tacită poate fi o opțiune de strategie politică a grupurilor parlamentare care controlează agenda parlamentară, poate fi rezultatul unei planificări defectuoase la nivelul Biroului permanent sau poate fi doar urmarea lipsei cvorumului de ședință (Manea 2010; Alexandru et al 2012; Popovici și Moraru 2014). Indiferent de motivul real al utilizării acestei proceduri este evident că absența dezbaterii și a votului dintr-o cameră parlamentară poate diminua calitatea procesului legislativ. Actorilor interesați - parlamentari din respectiva cameră ignorată, specialiști din societatea civilă sau din mediul privat - li se restrânge astfel capacitatea de a influența conținutul dar și soarta respectivei legi.
            </p>
            <p>
                În plus, dinamica legiferării bicamerale prevăzută de legiuitor, care implică dezbaterea și votul atât în camera de reflecție cât și în cea de decizie, este transformată de facto într-o situație de legislativ unicameral, cu toate dezavantajele ce pot decurge de aici. Pentru a concluziona, elementul cheie care face problematică folosirea frecventă a adoptării tacite de către cele două Camere ale legislativului românesc este suscipiciunea că se ajunge aici din motive tehnice (precum lipsa cvorumului) și în condițiile necunoașterii textului propunerii de lege și nu pentru că în urma reflecției parlamentarii au decis că textul nu necesită dezbatere sau vot, aceștia fiind unanim de acord cu el. Într-adevăr, presa a prezentat exemple de propuneri de lege considerate hilare sau de a dreptul aberante, indicând explicit că acestea nu ar fi putut fi adoptate tacit dacă parlamentarii ar fi cunoscut conținutul lor (Mediafax 2011).
            </p>

            <h3>Referințe:</h3>
            <ul>
                <li>*** Mediafax. 2011. „Senatul, fabrica de legi adoptate tacit in ultimele luni. Aberatiile trecute fara vot”, 30 noiembrie 2011, disponibil la: http://stirileprotv.ro/stiri/politic/senatul-fabrica-de-legi-adoptate-tacit-in-ul-b-timele-luni-aberatiile-trecute-fara-vot-b.html</li>
                <li>Alexandru, V., Moraru, A. şi R. Mihai. 2012. „Sinteza activității parlamentarilor în mandatul 2008 ‐ 2012”, Seria de Rapoarte de monitorizare a activităţii parlamentare, Bucureşti: Institutul pentru Politici Publice.</li>
                <li>Manea, M. L. 2010. „Acceptarea tacită în sistemele constituționale ale statelor membre ale Uniunii Europene”, Buletin de informare legislativă, nr. 2, pp. 3-16.</li>
                <li>Popovici și Moraru, A. 2014. „Raportul de monitorizare IPP: oglinda activității parlamentarilor în anul 2013”, Seria de Rapoarte de monitorizare a activităţii parlamentare, Bucureşti: Institutul pentru Politici Publice.</li>
            </ul>

            {{ policy_tables(proposal_list) }}
        </div>
    </div>
</div>
{% endblock %}
