{% extends 'layout.html' %}


{% set LOCATION_MAP = {
    'cd': "Camera Deputaților",
    'se': "Senat",
  } %}


{% block content %}
  <h1>{{ proposal['title'] }}</h1>

  <p>
    Sponsori:
    {% for person in proposal['sponsors'] %}
      <a href="{{ url_for('.person_detail', person_slug=person['slug']) }}">
        {{- person['name'] -}}
      </a>
      {%- if not loop.last %},{% endif %}
    {% endfor %}
  </p>

  <table class="table table-condensed table-bordered">
    {% for item in proposal['activity'] %}
      <tr>
        {% set location = LOCATION_MAP.get(item['location']) %}
        <th class="proposal-activity-at-{{ item['location'] }}">
          {{ item['date']|datefmt }}<br>
          {{ location }}
        </th>

        <td>{{ item['html']|safe }}</td>
      </tr>
    {% endfor %}
  </table>

{% endblock %}
