{% extends 'layout.html' %}

{% from '_policy_bits.html' import proposals_table, questions_table %}

{% block content %}
<div class="container-content container-general container-policies">
  {{ text(policy_slug, ns='policy') }}

  <div class="row">
    <div class="col-sm-8">
      <h2>Propuneri legislative și proiecte de lege</h2>

      {{ proposals_table(proposal_list) }}

      <h2>Întrebări și interpelări</h2>

      {{ questions_table(question_list) }}
    </div>
    <div class="col-sm-4">
      <h4>Comisii parlamentare</h4>

      <ul class="list-unstyled">
        {%- for committee in committee_list %}
          {%- set url = url_for('.committee_detail', committee_id=committee.id) %}
          <li>
            <a href="{{ url }}">{{ committee.name }}</a>
            ({{ CHAMBER_NAME[committee.chamber] }})
          </li>
        {%- endfor %}
      </ul>

      <h4>Partide active</h4>

      <ul class="list-unstyled">
        {%- for party in active_parties %}
          <li>
            {{ party.short_name|link_for(
                '.party_policy',
                party_short_name=party.short_name,
                policy_slug=policy_slug,
              ) }}
            ({{ party.interest|percent }})
          </li>
        {%- endfor %}
      </ul>

      <h4>Deputați activi</h4>

      <ul class="list-unstyled">
        {%- for person in active_people %}
          <li>
            {{ person.name|link_for(
                '.person_policy',
                person_slug=person.slug,
                policy_slug=policy_slug,
              ) }}
            ({{ person.count }})
          </li>
        {%- endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
