{% extends 'layout.html' %}

{% from '_policy_bits.html' import proposals_table %}


{% block head %}
  {%- if feed_url %}
    <link rel="alternate" type="application/atom+xml" href="{{ feed_url }}"/>
  {%- endif %}
{% endblock %}


{% block content %}
<div class="container-content container-general no-breadcrumb">
    <div class="row">
        <div class="col-sm-12">
            {{ text('tacit_approval') }}

            <h2>
              Lista propunerilor și proiectelor de lege adoptate
              tacit de Parlamentul 2016-2020
              {%- if feed_url %}
                <a href="{{ feed_url }}"><i class="fa fa-rss-square"></i></a>
              {%- endif %}
            </h2>

            {{ proposals_table(proposal_list) }}
        </div>
    </div>
</div>
{% endblock %}
