{% extends 'layout.html' %}

{% from '_policy_bits.html' import proposals_table, questions_table %}

{% block content %}
<div class="container-content container-general container-policies">
    {{ text(policy_slug, ns='policy') }}

    <div class="row">
        <div class="col-sm-8">
            <h2>Propuneri legislative și proiecte de lege</h2>

            {{ proposals_table(proposal_list) }}

            <h2>Întrebări și interpelări</h2>

            {{ questions_table(question_list) }}
        </div>
        <div class="col-sm-4">
            <div>
                <h4>Partide active</h4>
                <ul class="list-unstyled">
                    {%- for party in active_parties %}
                        <li>
                            {{ party.short_name|link_for(
                            '.party_detail',
                            party_short_name=party.short_name)
                            }}
                            ({{ party.interest|percent }})
                        </li>
                    {%- endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
