{% extends 'layout.html' %}


{% block content %}
  {{ text('policy', fold=True) }}

  <ul class="list-unstyled">
    {% for policy in policy_list %}
      <li>
        {%- set url = url_for('.policy_detail', policy_slug=policy.slug) %}
        <a href="{{ url }}">{{ policy.name }}</a>
      </li>
    {% endfor %}

    <li>
      {%- set url = url_for('.policy_detail', policy_slug=None) %}
      <a href="{{ url }}">Altele</a>
    </li>
  </ul>

  {{ text('policy', below_fold=True) }}
{% endblock %}
