<ul class="list-unstyled rightmenu">
  <li class="rightmenu-controversy">
    <a href="{{ url_for('.policy_controversy') }}">
      Legi controversate
    </a>
  </li>

  <li class="rightmenu-migrations">
    <a href="{{ url_for('.person_migrations') }}">
      Migrări recente
    </a>
  </li>

  <li class="rightmenu-tacit">
    <a href="{{ url_for('.policy_tacit') }}">
      Legi adoptate tacit
    </a>
  </li>

  <li class="rightmenu-proposals">
    <a href="{{ url_for('.policy_proposal_index') }}">
      Propuneri legislative
    </a>
  </li>

  <li class="rightmenu-questions">
    <a href="{{ url_for('.person_question_index') }}">
      Întrebari parlamentare
    </a>
  </li>
</ul>
