{% if layout %}{% extends 'layout.html' %}{% endif %}


{%- block content %}
  <h2>Ajută la dezvoltarea proiectului OpenParlament</h2>

  <p>OpenParlament este un proiect independent, non-profit al Fundației Median Research Centre și al OpenPolitics.ro. Întreținerea platformei precum și dezvoltarea altor funcții complementare necesită noi resurse, de aceea orice donație este binevenită.</p>

  <p>Ne poți ajuta donând orice sumă în unul din conturile de mai jos:</p>

  <p>
    Fundația "MRC - Median Research Centre",<br>
    Raiffeisen Bank SA:<br>
    RO93 RZBR 0000 0600 1633 8757 (lei)<br>
    RO06 RZBR 0000 0600 1633 8771 (€)<br>
    RO65 RZBR 0000 0600 1633 8776 ($)<br>
    S.W.I.F.T.: RZBRROBU
  </p>

  <p>
    Pentru orice alt fel de ajutor scrie-ne.<br>
    Mulțumim pentru sprijin!
  </p>

  <p>Echipa OpenParlament</p>
{% endblock %}
