{% if layout %}{% extends 'layout.html' %}{% endif %}


{%- block content %}
{% if layout %}
<div class="container-content container-general no-breadcrumb">
  <div class="row">
    <div class="col-sm-12">
{% endif %}
  <h2>De ce este necesar OpenParlament?</h2>

  <p>Pentru mulți dintre români Parlamentul este o instituție bugetofagă, populată de traseiști, penali și chiulangii. Această atitudine de respingere in corpore contribuie la perpetuarea stiuației actuale în care politica este hiper-personalizată, dominată de teme simbolice și de acuzații mutuale de corupție.
  <!-- fold -->
  </p>


  <p>În același timp, o majoritate a cetățenilor știe foarte puține despre procesul legislativ, despre ce fac grupurile parlamentare, dar și despre activitatea individuală a parlamentarilor - fie că e vorba de specializare în anumite politici, fie că vorbim de reprezentarea intereselor locuitorilor din circumscripțiile și colegiile lor.</p>

  <p>OpenParlament este un proiect non-guvernamental, non-profit al Fundației Median Research Centre și al OpenPolitics.ro ce răspunde direct acestei probleme, prezentând în mod accesibil și ușor de înțeles informații despre toate aceste aspect. Astfel, OpenParlament este un efort de a deschide cutia neagră a reprezentării politice din România, ce se concentrează pe trei dimensiuni: activitatea individuală a deputaților, procesul legislativ și funcționarea grupurilor parlamentare.</p>


  <p>Informațiile prezentate de aplicație pot fi folosite de jurnaliști, activiști sau simplii cetățeni. Astfel, unul dintre scopurile proiectului este de a crește nivelul de cunoștințe și înțelegere al cetățenilor cu privire la activitatea partidelor parlamentare și a deputaților, sporind astfel, pe termen lung, șansele responsabilizării aleșilor și ale unei decizii de vot informate. Un alt scop este de a facilita monitorizarea procesului legislativ pe subiecte majore de politici publice de către cetățenii și organizații non-guvernamentale interesate.</p>

  <p>În plus, prin intermediul aplicației, jurnaliștii au acces direct la toate legile adoptate tacit în Parlament, la cele mai recente schimbări de afiliere politică, precum și la inițiativele legislative controversate și voturile controversate din Camera Deputaților.</p>

  <p>OpenParlament se concentrează asupra Camerei Deputaților în principal din cauza absenței votului electronic de la Senat pentru cea mai mare parte a anului 2013. În măsura obținerii resurselor necesare, vom încerca lansarea unei aplicații identice pentru Senat și senatori. În momentul de față, aplicația prezintă informații referitoare la procesul legislativ din Senat doar în cazul traseului urmat de propunerile legislative și proiecte de lege.</p>

  <p>Actualizarea datelor preluate de pe situl Camerei Deputaților se face la fiecare două zile. Alte date au fost preluate de pe situl Autorității Electorale Permanente respectiv din proiectul Verifică Integritatea al României Curate. În rândurile următoare vom prezenta și explica succint principalele funcții ale aplicației.</p>

  <h3>Fii la curent cu schimbarile legislative și politice controversate!</h3>

  <p>Secțiunea legi controversate permite monitorizarea procesului legislativ al unor propuneri și proiecte de lege, inițiate în această legislatură, care au fost considerate problematice de către media, organizații non-guvernamentale sau experții Median Research Centre. Fiecare propunere legislativă din această secțiune este însoțită de detalii asupra controversei stârnite și de link-uri către articolele din media sau luările de poziție ale organizațiilor non-guvernamentale referitoare la aceasta.</p>

  <p>Secțiunea voturi controversate prezintă și explică votul fiecărui deputat asupra unor proiecte de lege și propuneri legislative inițiate în această legislatură sau în precedentele, care au fost considerate problematice de către media, organizații non-guvernamentale sau experții Median Research Centre. Lista legilor și voturilor controversate va fi actualizată periodic, folosind, sperăm, și contribuția dumneavoastră, a utilizatorilor.</p>

  <p>Adoptarea tacită a legilor în prima cameră sesizată ridică întrebări asupra calității procesului legislativ și poate contribui la decredibilizarea Parlamentului. Secțiunea dedicată legilor adoptate tacit cuprinde lista tuturor propunerilor și proiectelor de lege adoptate în acest fel precum și toate informațiile asupra parcursului acestora în Parlament. De asemenea, secțiunea include date asupra magnitudinii fenomenului de la introducerea procedurii și până în prezent precum și explicații asupra cauzelor și implicațiilor acestuia.</p>

  <p>Aplicația permite vizualizarea celor mai recente schimbări de afiliere ale deputaților. Desigur, există o întârziere între momentul în care deputatul face cererea de schimbare a afilierii și momentul în care aceasta devine efectivă prin citirea în plen a anunțului afilierii la un alt grup parlamentar și este consemnată pe situl oficial al Camerei Deputaților. Legat de acest aspect, aplicația calculează și loialitatea la vot a fiecărui deputat față de guvern tocmai pentru a identifica posibilele cazuri în care deputați din opoziție sprijină guvernul și majoritatea parlamentară fără a schimba în mod formal grupul politic din care fac parte.</p>

  <h3>Urmărește evoluțiile legislative din 15 domenii de politici publice!</h3>

  <p>OpenParlament pune la dispoziția organizațiilor non-guvernamentale și cetățenilor interesați, într-un mod ușor de înțeles și utilizat, informații ce permit urmărirea și monitorizarea procesului legislativ pe 15 domenii de politici publice:</p>

  <ul>
    <li>Administrație publică și mediu,
    <li>Agricultură,
    <li>Apărare și securitate,
    <li>Cultură,
    <li>Drepturile omului,
    <li>Economie,
    <li>Educație, tineret și sport,
    <li>Externe
    <li>Finanțe
    <li>Interne
    <li>Muncă
    <li>Sănătate
    <li>Tehnologia informației
    <li>Transporturi
    <li>Uniunea Europeană
  </ul>

  <p>Toate inițiativele legislative și întrebările parlamentare din aceste domenii sunt incluse în categoria corespunzătoare utilizând două tipuri de informații. Pentru inițiativele legislative domeniul este stabilit prin analizarea comisiei parlamentare permanente la care Biroul permanent a trimis propunerea de lege pentru examinare. Conform Regulamentului Camerei Deputaților, Biroul permanent sesizează comisia permanentă "în competenţa căreia intră materia reglementată prin proiectul sau propunerea respectivă." (Art. 62, p. 23). Pentru întrebarile și interpelările parlamentare domeniul de politici publice este stabilit prin analizarea ministerului căreia îi sunt adresate acestea. Compatibilitatea celor două tipuri de indicatori este asigurată de paralelismul dintre jurisdicția comisiilor parlamentare permanente și cea a ministerelor în sistemul parlamentar românesc.</p>

  <p>Pe baza acestor indicatori aplicația oferă utilizatorilor și posibilitatea de a evalua specializarea deputaților români în cele 15 politici publice. Această funcție este realizată prin calcularea procentului de propuneri legislative, întrebări și interpelări parlamentare ale deputatului care corespund fiecărei politici publice și prezentarea celor mai frecvente categorii.</p>

  <h3>Monitorizează-ți deputatul!</h3>

  <p>Această secțiune este formată din subpagini dedicate fiecărui deputat. Utilizatorii pot identifica deputatul care îi reprezintă sau de care sunt interesați căutând după nume, adresă, domeniu de politici publici (de care deputatul se preocupă cel mai mult) sau contracte cu statul.</p>

  <p>Fiecare pagină de deputat cuprinde informații despre afilierea politică, comisiile parlamentare din care face sau a făcut parte deputatul, experiența parlamentară, declarația de avere din prima sesiune a actualei legislaturi precum și eventuale probleme de integritate.</p>

  <p>Prezentăm, de asemenea, informații statistice asupra activității individuale: prezența la vot, gradul de loialitate față de propriul grup parlamentar și față de guvern, numărul de luări de cuvânt, inițiative legislative (total, respectiv numărul celor devenite legi), numărul de întrebări și interpelări parlamentare (total și legate de probleme din județul său). Toate acestea sunt însoțite de documentul respectiv sau de informații asupra poziției partidului, respectiv a guvernului în cazul fiecărui vot final.</p>

  <p>Utilizatorii pot compara activitatea fiecărui deputat cu a altui deputat (folosind o serie de criterii prestabilite explicate mai jos) precum și similaritatea la vot cu toți membrii Camerei. Subpaginile deputaților includ ilustrații grafice ale frecvenței activităților parlamentare (timeline) respectiv ale conținutului acestora (word cloud bazat pe cuvintele care apar cel mai frecvent în inițiativele legislative și întrebările și interpelările parlamentare depuse de către aceștia).</p>

  <p>Pagina fiecărui deputat conține și informații de contact precum: adresa biroului parlamentar, adrese oficiale de email, blog și sit personal, precum și adresele conturilor de media sociale (Facebook și Twitter) acolo unde acestea există.</p>

  <p>Numerele asociate activității deputaților nu trebuie fetișizate. Acestea sunt indicatori ai implicării deputatului în activitatea de legiferare, deliberare, control parlamentar sau reprezentare a intereselor locale. Însă factori precum statutul și responsabilitățile deputatului în cadrul partidului, Camerei, guvernului, experiența și influența sa parlamentară ori apartenența la majoritatea parlamentară afectază atât oportunitățile de implicare în aceste activități cât și gradul lor de eficiență. Tocmai de aceea funcția de comparare a activității deputaților poate fi utilizată doar pe baza unor criterii prestabilite. Astfel, pot fi comparați doar deputați cu același număr de mandate parlamentare, cu funcții similare (ex.: președinte de comisie parlamentară, membru al biroului permanent etc), deputați din același județ sau din același grup parlamentar.</p>

  <p>Totodată, există un număr de limitări inerente reutilizării datelor oficiale oferite de către situl Camerei Deputaților. Pe de o parte, media și organizații non-guvernamentale au observat că numărul de deputați prezenți la ședințe este uneori mai mic decât cel declarat în rapoartele oficiale ale comisiile parlamentare. Pe de altă parte, OpenParlament nu conține informații despre munca din teritoriu (ex.: audiențe din colegiu) a deputaților sau despre numărul de intervenții pe care aceștia le au în cadrul dezbaterilor din comisii. Am dori să includem aceste informații în viitor, dar pentru aceasta este nevoie de cooperarea deputaților, respectiv ca rapoartele comisiilor parlamentare să consemneze consecvent și constant intervențiile fiecărui membru al comisiei.</p>

  <h3>Înțelege funcționarea grupurilor parlamentare!</h3>

  <p>Informațiile privind specializarea în politici publice a fiecărui deputat membru al grupului parlamentar sunt agregate automat tot timpul astfel încât să oferim o imagine fidelă a nivelului de preocupare al grupului parlamentar respectiv față de subiectele analizate.</p>

  <p>Aplicația indică nivelul mediu de loialitate la vot al tuturor membrilor, dar și al diverselor categorii de membrii (miniștrii, membrii ai biroului permanent, deputați aflați la primul mandat sau cu mai mult de un mandat) față de grupul parlamentar. De asemenea, calculăm și prezentăm în timp real nivelul mediu de loialitate la vot față de guvern al tuturor membrilor grupului.</p>

  <p>Pagina grupului parlamentar conține informații și despre numărul total de întrebări și interpelări parlamentare, respectiv asupra procentului acestora care se referă la probleme locale din județele deputaților grupului.</p>

  <h3>Descarcă datele și donează!</h3>

  <p>Secțiunea export date permite descărcarea datelor asupra migrației parlamentare, a tuturor voturilor, întrebărilor și interpelărilor parlamentare în format csv. Toate datele din aplicația sunt distribuite sub licență CC BY 4.0. Aceasta implică necesitatea de a credita OpenParlament, de exemplu printr-un link, dacă folosiți datele. De asemenea, orice aplicații rezultate din această utilizare trebuie să fie distribuite folosind o licență de date deschise compatibilă.</p>

  <p>Proiectul a fost realizat cu sprijinul financiar al Open Society Foundations. Întreținerea precum și dezvoltarea unor funcții complementare necesită noi resurse, de aceea orice donație este binevenită.</p>
{% if layout %}
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
