<p>Secțiunea export date permite descărcarea datelor asupra migrației parlamentare, a tuturor voturilor, întrebărilor și interpelărilor parlamentare în format csv. Toate datele din aplicația sunt distribuite sub licență CC BY 4.0. Aceasta implică necesitatea de a credita OpenParlament, de exemplu printr-un link, dacă folosiți datele. De asemenea, orice aplicații rezultate din această utilizare trebuie să fie distribuite folosind o licență de date deschise compatibilă.</p>

<p>Pentru lucrări academice citarea datelor este recomandată folosind referințele:</p>

<p>Popescu, Marina și Chiru, Mihail. 2014. The parliamentary votes of the Romanian Deputies. Machine readable data file, available at: http://website.firenze.grep.ro/export</p>

<p>Popescu, Marina și Chiru, Mihail. 2014. The parliamentary questions and interpellations of the Romanian Deputies. Machine readable data file, available at: http://website.firenze.grep.ro/export</p>

<p>Popescu, Marina și Chiru, Mihail. 2014. The party switching in the Romanian Chamber of Deputies. Machine readable data file, available at: http://website.firenze.grep.ro/export</p>
