<p>OpenParlament pune la dispoziția organizațiilor non-guvernamentale și cetățenilor interesați, într-un mod ușor de înțeles și utilizat, informații ce permit urmărirea și monitorizarea procesului legislativ pe 15 domenii de politici publice:</p>

<!-- fold -->

<p>Toate inițiativele legislative și întrebările parlamentare din aceste domenii sunt incluse în categoria corespunzătoare utilizând două tipuri de informații. Pentru inițiativele legislative domeniul este stabilit prin analizarea comisiei parlamentare permanente la care Biroul permanent a trimis propunerea de lege pentru examinare. Conform Regulamentului Camerei Deputaților, Biroul permanent sesizează comisia permanentă "în competenţa căreia intră materia reglementată prin proiectul sau propunerea respectivă" (Art. 62, p. 23).</p>

<p>Pentru întrebarile și interpelările parlamentare domeniul de politici publice este stabilit prin analizarea ministerului căreia îi sunt adresate acestea. Compatibilitatea celor două tipuri de indicatori este asigurată de paralelismul dintre jurisdicția comisiilor parlamentare permanente și cea a ministerelor în sistemul parlamentar românesc.</p>
