@import "lib/bootstrap-3.0.0/less/bootstrap.less";
@import "lib/font-awesome-3.2.1/less/font-awesome.less";


blockquote.panel-body {
    white-space: pre;
}

.panel-heading-id {
    float: right;
    color: #f5f5f5;
}

.panel-title a {
    color: @link-color;
}


//////////////////
// mixins
.css3-columns(@column-size) {
  -webkit-columns: @column-size;
     -moz-columns: @column-size;
          columns: @column-size;
}


//////////////////
// home

.home-row {
    .make-row();
}

.home-box {
    .make-md-column(12);
}


//////////////////
// calendar

.calendar {
    .make-row();
}

.calendar-month {
    .make-md-column(3);
    height: 200px;
    overflow: hidden;
}

.calendar-month td {
    padding: 0 3px;
}


//////////////////
// people

.people ul {
    .css3-columns(200px);
    .list-unstyled;
}


//////////////////
// topaddressee
.topaddressee {
    .make-md-column(8);
    table {
        .table;
        .table-striped;
        .table-condensed;
    }
}


//////////////////
// questions

.people-questions {
    .table;
    .table-striped;
}

.person-questions {
    .table;
    .table-striped;
}


//////////////////
// csv
.csv {
    .make-row();
    p {
        .make-md-column-offset(11);
        .make-md-column(1);
        a {
            .btn;
            .btn-primary;
        }
    }
}


//////////////////
// question-flags

.question-flags {
    .btn-toolbar;
}

.question-flags-dropdown {
    .btn-group;
}

.question-flags form {
    display: none;
}
