@import "lib/bootstrap/less/bootstrap.less";


//////////////////
// mixins
.css3-columns(@column-size) {
  -webkit-columns: @column-size;
     -moz-columns: @column-size;
          columns: @column-size;
}


//////////////////
// home

.home-row {
    .make-row();
}

.home-box {
    .make-md-column(12);
}


//////////////////
// calendar

.calendar {
    .make-row();
}

.calendar-month {
    .make-md-column(3);
    height: 200px;
    overflow: hidden;
}

.calendar-month td {
    padding: 0 3px;
}


//////////////////
// people

.people ul {
    .css3-columns(200px);
    .list-unstyled;
}


//////////////////
// questions

.people-questions {
    .table;
    .table-striped;
}

.person-questions {
    .table;
    .table-striped;
}

.question-analysis {
    .question-analysis-heading {
        .panel-heading;
        h3 {
            .panel-title;
        }
    }

    .panel;

    p {
        white-space: pre;
    }
}

.question-original {
    .question-original-heading {
        .panel-heading;
        h3 {
            .panel-title;
        }
    }

    .panel;

    p {
        white-space: pre;
    }
}
