.placeholder {
    background: #fda;
    font-size: 200%;
    color: #555;
    padding: 20px;
}

.proposal-activity-at-cd {
    background: #fff0d8;
}

.proposal-activity-at-se {
    background: #dfefff;
}

.proposal-status-inprogress {
    background: #f5f5a6;
}

.proposal-status-approved {
    background: #9df39d;
}

.proposal-status-rejected {
    background: #fcc1c1;
}


/*************************
 *   activitychart   *
 *************************/

.activitychart-axis line,
.activitychart-axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.activitychart-axis.y line {
    display: none;
}

.activitychart-line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.activitychart-vacation {
    fill: #bbb;
    stroke: none;
}
