.placeholder {
    background: #fda;
    font-size: 200%;
    color: #555;
    padding: 20px;
}

.proposal-activity-at-cd {
    background: #fff0d8;
}

.proposal-activity-at-se {
    background: #dfefff;
}

.proposal-status-inprogress {
    background: #f5f5a6;
}

.proposal-status-approved {
    background: #9df39d;
}

.proposal-status-rejected {
    background: #fcc1c1;
}


/*************************
 *   person-timestream   *
 *************************/

.person-timestream-axis line,
.person-timestream-axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.person-timestream-axis.y line {
    display: none;
}

.person-timestream-line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}
