.placeholder {
    background: #fda;
    font-size: 200%;
    color: #555;
    padding: 20px;
}

.leaflet-popup-content {
    font-size: 130%;
}

.proposal-activity-at-cd {
    background: #fff0d8;
}

.proposal-activity-at-se {
    background: #dfefff;
}

.proposal-status-inprogress {
    background: #f5f5a6;
}

.proposal-status-approved {
    background: #9df39d;
}

.proposal-status-rejected {
    background: #fcc1c1;
}

.person-image-box {
    text-align: center;
}

.person-image-box img {
    width: 200px;
}

.romania-curata-text {
    white-space: pre-wrap;
}


/*************************
 *   activitychart   *
 *************************/

.chart-axis line,
.chart-axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.chart-axis.y line {
    display: none;
}

.activitychart-line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.activitychart-vacation {
    stroke: none;
}

.membershipchart-rect {
    cursor: pointer;
}

.wordcloud {
    height: 250px;
}
