/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
html,
body {
  font-family: 'Open Sans', sans-serif;
  /* Default pages have the background image a bit higher */
  background: url(../img/header-bg-dark.jpg) 0 -160px no-repeat #eee0a1;
  /* While the homepage has it full */
  color: #747d84;
}
html.home,
body.home {
  background: url(../img/header-bg.jpg) top no-repeat #eee0a1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-weight: 700;
  color: #45515b;
}
a {
  color: #267cbe;
}
a:hover {
  color: #175789;
  text-decoration: none;
}
.topbar {
  background: url(../img/semi-opaque-bg.png) repeat;
  border-bottom: 3px solid #ffad00;
  width: 100%;
}
.topbar .navbar {
  background: none;
  border: none;
  margin-bottom: 0;
}
.topbar .navbar .navbar-brand {
  padding: 12px 0 15px 0;
}
.topbar .navbar .navbar-brand img {
  height: 55px;
}
.topbar .navbar ul.nav.navbar-nav {
  float: right;
  padding-top: 16px;
}
.topbar .navbar ul.nav.navbar-nav li {
  margin-left: 15px;
}
.topbar .navbar ul.nav.navbar-nav li.active {
  color: #069;
}
.topbar .navbar ul.nav.navbar-nav li.active a {
  background: none;
  border-bottom: 1px solid #ffad00;
}
.topbar .navbar ul.nav.navbar-nav li a {
  font-weight: 600;
  color: #267cbe;
  font-size: 16px;
}
.topbar .navbar ul.nav.navbar-nav li a:hover {
  color: #069;
}
.topbar .navbar .navbar-social {
  overflow: hidden;
}
.topbar .navbar .navbar-social a {
  padding: 5px;
  float: right;
}
.topbar .navbar .navbar-social a .social-button {
  display: inline-block;
  padding: 5px;
  border-radius: 50px;
  min-width: 30px;
  text-align: center;
  background: #549ACD;
  color: white;
}
.topbar .navbar .navbar-openpolitics {
  float: right;
  padding: 12px 0 15px 0;
}
.topbar .navbar .navbar-openpolitics img {
  height: 55px;
}
.home-header-search {
  margin: 80px 0 20px 0;
  background: url(../img/home-header-search-bg.png) repeat;
  padding: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.home-header-search .search-title {
  color: #267cbe;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}
.home-header-search .search-advanced {
  text-align: right;
  font-weight: 600;
}
.home-header-search hr {
  border-top: 1px solid #bebebe;
  border-bottom: 1px solid #dce0e0;
}
.home-header-search form .form-group {
  padding-left: 0;
  padding-right: 15px;
}
.home-header-search form .form-group.col-sm-1 {
  padding: 0 15px;
}
.home-header-search form input,
.home-header-search form select {
  border: none;
  color: #267cbe;
}
.home-header-search .btn.btn-success {
  width: 100%;
  text-transform: uppercase;
  font-weight: 600;
  background: #80c637;
  /* Old browsers */
  background: -moz-linear-gradient(top, #80c637 0%, #299a0b 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #80c637), color-stop(100%, #299a0b));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #80c637 0%, #299a0b 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #80c637 0%, #299a0b 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #80c637 0%, #299a0b 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #80c637 0%, #299a0b 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80c637', endColorstr='#299a0b', GradientType=0);
  /* IE6-9 */
}
.home-header-search ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #267cbe;
}
.home-header-search :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #267cbe;
  opacity: 1;
}
.home-header-search ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #267cbe;
  opacity: 1;
}
.home-header-search :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #999;
}
.container-content {
  background: #fff;
  margin-bottom: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.content-home .home-section {
  border-bottom: 2px solid #1bbaba;
  margin: 0 20px;
}
.content-home .home-section:last-child {
  border-bottom: none;
}
.content-home .editorial {
  padding: 15px 0;
}
.content-home .editorial h2 {
  color: #267cbe;
}
.content-home .article-featured {
  padding: 15px 0;
}
.content-home .article-featured .article-title {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 20px;
}
.content-home .article-featured .article-meta {
  margin-bottom: 20px;
}
.content-home .article-featured .article-meta .article-author-image img {
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
}
.content-home .article-featured .article-meta .article-author-meta {
  padding-top: 10px;
}
.content-home .article-featured .article-meta .article-author-meta .article-author-date {
  font-weight: 700;
}
.content-home .article-featured .article-meta .article-author-meta .article-author-occupation {
  font-style: italic;
}
.content-home .middle-info {
  background: #f4f6f7;
  padding: 15px;
}
.content-home .middle-info h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
}
.content-home .middle-info p {
  font-size: 13px;
  font-style: italic;
}
.content-home .middle-info p a {
  font-style: normal;
}
.content-home .articles-list {
  padding: 5px 15px;
}
.content-home .articles-list h3 {
  padding-left: 10px;
}
.content-home .articles-list .article-single {
  padding: 10px 25px;
  border-bottom: 1px solid #dce0e0;
}
.content-home .articles-list .article-single:last-child {
  border-bottom: none;
}
.content-home .articles-list .article-single .article-title {
  font-size: 16px;
  font-weight: 700;
}
.content-home .articles-list .article-single .article-content {
  max-height: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content-home h3,
.content-home h3 a {
  font-size: 22px;
  font-weight: 900;
  color: #45515b;
}
.content-home h3 a:hover {
  text-decoration: underline;
}
.content-home .sub-section {
  padding: 30px 0 30px 20px;
}
.content-home .sub-section h3 {
  margin-top: 0;
  margin-bottom: 20px;
}
.content-home .sub-section.comparison {
  border-bottom: 2px solid #1bbaba;
}
.content-home .sub-section.comparison h4 {
  font-size: 22px;
  margin-top: 20px;
}
.content-home .sub-section.comparison h4 a {
  font-size: 16px;
}
.content-home .sub-section.comparison .graph-info {
  margin: 25px 0;
}
.content-home .sub-section.comparison .graph-info .icon-info {
  padding-top: 7px;
  text-align: right;
}
.content-home .sub-section.comparison .graph img {
  width: 100%;
}
.content-home .sub-section.statistic {
  margin-left: 20px;
  padding-left: 0;
  border-bottom: 1px solid #dce0e0;
}
.content-home .sub-section.statistic .statistic-title {
  position: relative;
}
.content-home .sub-section.statistic .statistic-title .statistic-title-image img {
  width: 100%;
}
.content-home .sub-section.statistic .statistic-title .statistic-title-text {
  position: absolute;
  bottom: 0;
  font-size: 16px;
  padding: 10px;
}
.content-home .sub-section.statistic .statistic-title .statistic-title-text a {
  color: #fff;
  text-shadow: -3px -1px 2px #969696;
}
.content-home .sub-section.statistic .statistic-content {
  max-height: 118px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content-home .sub-section.statistic p {
  margin-top: 15px;
}
.content-home .sub-section.contribute {
  border: 1px solid #dce0e0;
  padding-left: 0;
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 15px;
}
.content-home .sub-section.contribute .btn-contribute {
  margin-top: 20px;
  background: #f6d782;
  color: #67541e;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  padding: 8px 15px;
}
.content-home .sub-section.contribute .btn-contribute:hover {
  background: #e6c56b;
}
span.number {
  background: #45515b;
  color: #fff;
  font-size: 15px;
  padding: 5px;
  min-width: 28px;
  margin-left: 10px;
  display: inline-block;
  text-align: center;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
}
.public-politics {
  border-bottom: 1px solid #dce0e0;
  /* Will probably not be needed once the graph is made dynamic */
}
.public-politics .piechart {
  text-align: center;
}
.public-politics ul {
  margin-top: 20px;
}
.public-politics .percentage {
  font-weight: 700;
}
.proposals {
  border-bottom: 2px solid #1bbaba;
  font-size: 14px;
}
.proposals:last-child {
  border-bottom: none;
}
.proposals a.date {
  font-weight: 700;
}
.laws-list {
  padding-left: 0;
}
.laws-list .law {
  border: 1px solid #dde1db;
  border-left: none;
  margin-bottom: 7px;
  background: #fbfbfb;
  position: relative;
}
.laws-list .law .law-status-color {
  float: left;
  width: 7px;
  padding: 7px 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
.laws-list .law .law-status-color.approved {
  background: #6abb2d;
}
.laws-list .law .law-status-color.inprogress {
  background: #fcbe18;
}
.laws-list .law .law-status-color.rejected {
  background: #e83c14;
}
.laws-list .law .law-title {
  float: left;
  width: 75.5%;
  padding: 7px 20px;
}
.laws-list .law .law-status-text {
  float: right;
  width: 23%;
  font-size: 13px;
  text-align: right;
  padding: 7px 15px 7px 0;
  font-weight: 700;
  color: #c1c1c1;
  text-transform: uppercase;
}
.votes-list {
  margin-left: 20px;
}
.votes-list .vote {
  border: 1px solid #dde1db;
  border-left: none;
  margin-bottom: 7px;
  background: #fbfbfb;
  position: relative;
}
.votes-list .vote .vote-for {
  width: 8px;
  padding: 7px 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
.votes-list .vote .vote-for.da {
  background: #6abb2d;
}
.votes-list .vote .vote-for.nu {
  background: #e83c14;
}
.votes-list .vote .vote-for.abstained {
  background: #fcbe18;
}
.votes-list .vote .vote-details {
  padding-top: 5px;
  padding-left: 20px;
}
.votes-list .vote .vote-subtitle {
  color: #c2c2c2;
  font-weight: 700;
  font-size: 13px;
}
.persons-list {
  border-bottom: 2px solid #1bbaba;
}
.persons-list .person {
  border: 1px solid #dde1db;
  border-left: none;
  margin-bottom: 7px;
  background: #fbfbfb;
  position: relative;
  padding-left: 7px;
}
.persons-list .person .person-status-color {
  background: #c1c1c1;
  width: 7px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
.persons-list .person .person-image {
  float: left;
  margin-left: 1px;
  width: 7.5%;
}
.persons-list .person .person-image img {
  max-width: 40px;
  max-height: 60px;
}
.persons-list .person .person-details {
  float: left;
  width: 51%;
  padding: 20px 5px;
}
.persons-list .person .person-details span.date {
  margin-right: 15px;
}
.persons-list .person .person-details span.name {
  font-weight: bold;
}
.persons-list .person .person-from,
.persons-list .person .person-to {
  float: left;
  width: 19.5%;
  padding: 20px 15px 20px 0;
  text-align: right;
}
.persons-list .person span.term {
  text-transform: uppercase;
  color: #d0d0d0;
  font-weight: 700;
  margin-right: 10px;
  font-size: 13px;
}
.search-results li {
  float: left;
  width: 47%;
  background: #fcfcfc;
  border: 1px solid #dce0e0;
  margin: 1% 2% 0 0;
  font-weight: 700;
}
.search-results li a {
  padding: 10px;
  display: block;
}
.person-index {
  padding: 15px;
}
.person-index h3 {
  margin: 10px 0 20px 20px;
  font-weight: 700;
  color: #45515b;
}
.person-index h3 span {
  margin-left: 20px;
}
.person-index form {
  margin: 0 0 0 20px;
}
.person-index #map {
  margin-left: 20px;
  margin-right: 35px;
}
.person-index .search-section {
  margin-bottom: 25px;
}
.person-index .search-section.search-by-name li {
  border-left: 5px solid #267cbe;
}
.person-index .search-section.search-by-policy li {
  border-left: 5px solid #e64c00;
}
.person-index .search-section.search-by-contracts li {
  border-left: 5px solid #ffc528;
}
.person-index .search-section.geocode li {
  border-left: 5px solid #94c938;
}
.person-index .bullet {
  width: 12px;
  height: 12px;
  display: inline-block;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  position: absolute;
  top: 8px;
}
.person-index .bullet.blue {
  background-color: #267cbe;
}
.person-index .bullet.orange {
  background-color: #e64c00;
}
.person-index .bullet.yellow {
  background-color: #ffc528;
}
.person-index .bullet.green {
  background-color: #94c938;
}
.btn.btn-default {
  color: #267cbe;
  text-transform: uppercase;
  font-weight: 700;
  background: #fcfcfc;
}
.container-content.person-details {
  padding: 20px 15px;
}
.container-content.person-details h1 {
  margin-top: 5px;
}
.container-content.person-details .btn.btn-default {
  margin-right: 15px;
}
.container-content.person-details p.emphasis {
  margin-top: 15px;
}
.container-content.person-details .person-details-section {
  padding-bottom: 20px;
  border-bottom: 1px solid #dce0e0;
  padding: 15px;
}
.container-content.person-details .person-details-section h3 {
  color: #45515b;
  font-weight: 700;
  margin: 30px 0 0 10px;
}
.container-content.person-details .person-details-section h3.section-header {
  margin: 30px 0 15px 20px;
}
.container-content.person-details .person-details-photo {
  display: block;
  margin: 0 auto;
  max-width: 160px;
  max-height: 212px;
}
.container-content.person-details .person-details-header .person-details-statistics h4 {
  color: #b0b0b0;
  font-weight: 700;
  margin-top: 30px;
}
.container-content.person-details .person-details-header .person-details-statistics h4:first-child {
  margin-top: 10px;
}
.container-content.person-details .person-details-header .person-details-statistics ul {
  list-style-type: none;
  padding-left: 0;
}
.container-content.person-details .person-details-header .person-details-statistics ul li a {
  font-weight: 700;
}
.container-content.person-details .person-details-header .cta {
  margin-top: 15px;
}
.container-content.person-details .person-details-activity h3:first-child {
  margin-top: 10px;
}
.container-content.person-details .person-details-activity .activitychart,
.container-content.person-details .person-details-activity .membershipchart {
  margin-left: 10px;
}
.container-content.person-details .person-details-recent-activity p,
.container-content.person-details .person-details-assets p {
  margin-left: 20px;
}
.container-content.person-details .piechart {
  margin-top: 20px;
}
.container-content.person-details .social {
  padding: 20px 25px;
}
.container-content.person-details .social h3 {
  margin: 10px 0 15px 0;
}
.container-content.person-details .wordcloud {
  margin-top: 15px;
}
.container-content .parties-content {
  padding: 15px 25px;
}
.container-content .parties-content h1 {
  margin-bottom: 35px;
}
.container-content .parties-content h4 {
  color: #b0b0b0;
  font-weight: bold;
  padding-bottom: 15px;
}
.container-content .parties-content h4.members {
  padding: 25px 0 0 15px;
  height: 125px;
  border-right: 1px solid #dce0e0;
}
.container-content .parties-content h4.stats {
  padding: 25px 0 0 0;
}
.container-content .parties-content .parties-list {
  padding-left: 0;
  list-style-type: none;
}
.container-content .parties-content .parties-list li {
  padding: 12px;
  border-bottom: 1px solid #dce0e0;
}
.container-content .parties-content .parties-list li:first-child {
  border-top: 1px solid #dce0e0;
}
.container-content .parties-content .parties-list li a {
  display: block;
  height: 64px;
}
.container-content .parties-content .parties-list li a .party-logo {
  float: left;
  width: 64px;
  height: 64px;
}
.container-content .parties-content .parties-list li a .party-logo img {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #999;
}
.container-content .parties-content .parties-list li a p {
  padding-left: 15px;
  height: 64px;
  vertical-align: middle;
  display: table-cell;
}
.container-content .parties-content .party-meta {
  margin-bottom: 30px;
}
.container-content .parties-content .party-meta .party-logo {
  text-align: center;
}
.container-content .parties-content .party-meta .party-logo img {
  max-width: 100%;
  max-height: 100%;
}
.container-content .parties-content .public-politics {
  border-right: 1px solid #dce0e0;
  border-bottom: none;
}
.container-content .parties-content .stat {
  border-bottom: 1px solid #dce0e0;
  padding: 20px 0;
}
.container-content .parties-content .stat .number {
  float: right;
  font-weight: 700;
  font-size: 36px;
}
.container-content .parties-content .stat .description {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
}
.container-content .parties-content .social h3 {
  margin-top: 0;
}
.container-content.container-policies .policy_details_sidebar {
  padding-top: 15px;
}
.container-general {
  padding: 25px 20px;
}
.container-general h1,
.container-general h2,
.container-general h3,
.container-general h4,
.container-general h5,
.container-general h6 {
  font-weight: 700;
  color: #45515b;
}
.container-general h1 {
  margin-top: 0;
}
.container-general.no-breadcrumb {
  margin-top: 20px;
}
.container-general.no-breadcrumb h1,
.container-general.no-breadcrumb h2 {
  margin-top: 0;
}
.breadcrumb {
  color: #fff;
  font-weight: 700;
  background: none;
  font-size: 26px;
  margin-bottom: 0;
  padding-top: 20px;
  text-shadow: -3px -1px 2px #969696;
}
p.full-list {
  text-align: right;
}
.clear {
  clear: both;
}
.sidebar h3 {
  font-weight: 600;
  color: #45515b;
}
.social h3 {
  font-weight: 700;
  color: #45515b;
}
.social .icons {
  margin-bottom: 15px;
}
.social .icons a {
  margin-right: 7px;
}
.tooltip .tooltip-inner {
  background: #267cbe;
  color: #fff;
}
.tooltip .tooltip-arrow {
  border-top-color: red;
}
.emphasis {
  font-weight: 700;
}
figure {
  margin-bottom: 15px;
}
.placeholder {
  border: 3px dashed #bbb;
  opacity: .5;
}
.leaflet-popup-content {
  font-size: 130%;
}
.proposal-activity-at-cd {
  background: #fff0d8;
}
.proposal-activity-at-se {
  background: #dfefff;
}
.proposal-status-inprogress {
  background: #f5f5a6;
}
.proposal-status-approved {
  background: #9df39d;
}
.proposal-status-rejected {
  background: #fcc1c1;
}
.person-image-box {
  text-align: center;
}
.person-image-box img {
  width: 200px;
}
.romania-curata-text {
  white-space: pre-wrap;
}
.transcript-text {
  white-space: pre-wrap;
}
.person-index-search-form {
  margin-bottom: 40px;
}
.compare-headline {
  cursor: pointer;
}
.compare-headline-expanded {
  display: none;
}
.compare-headline.expanded .compare-headline-expanded {
  display: inline;
}
.compare-headline.expanded .compare-headline-collapsed {
  display: none;
}
.compare-list {
  display: none;
}
/*************************
 *   activitychart   *
 *************************/
.activitychart .chart-axis line,
.activitychart .chart-axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.activitychart .chart-axis.y line {
  display: none;
}
.activitychart .activitychart-line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.activitychart .activitychart-vacation {
  stroke: none;
}
.membershipchart .chart-axis line,
.membershipchart .chart-axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.membershipchart .chart-axis.y line {
  display: none;
}
.membershipchart-rect {
  cursor: pointer;
}
.wordcloud {
  height: 250px;
}
.similarity-circle {
  fill-opacity: 0.5;
}
.similarity-barchart .bar.me {
  fill: steelblue;
}
.similarity-barchart .bar.other {
  fill: grey;
}
.similarity-barchart .number {
  font-size: 10px;
}
.similarity-barchart .number.me {
  stroke: steelblue;
}
.similarity-barchart .number.other {
  stroke: grey;
}
.groupmemberchart {
  font-size: 10px;
}
.groupmemberchart .halo {
  fill: white;
}
.groupmemberchart .clickable {
  fill: white;
  stroke: #BBBFC2;
  stroke-width: 2px;
}
.groupmemberchart .clickable:hover {
  stroke: orange;
  cursor: pointer;
}
.groupmemberchart .line {
  fill: none;
  stroke: #BBBFC2;
  stroke-width: 2px;
}
.groupmemberchart .chart-axis.x {
  stroke: #435860;
}
.groupmemberchart .chart-axis.x .domain {
  stroke-width: .3px;
}
.groupmemberchart .chart-axis.x .tick line {
  stroke: none;
}
.groupmemberchart .chart-axis.y text {
  stroke: #BBBFC2;
}
.groupmemberchart .chart-axis.y .domain {
  stroke: none;
  fill: none;
}
.seatchart circle {
  fill: #bbb;
}
.policy-chart .arc text {
  text-anchor: middle;
  fill: white;
  font-weight: bold;
}
.policy-chart .arc path {
  stroke: #FFF;
  stroke-width: 1px;
}
.policy-index-page .policy-list {
  overflow: hidden;
}
.policy-index-page .policy-list > li {
  width: 30%;
  margin: 2px;
  float: left;
}
.policy-index-page .policy-list > li a {
  color: white;
  widht: 100%;
  display: block;
  padding: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.policy-index-page .policy-list > li a:hover {
  color: #ddd;
}
.export-page p {
  margin-bottom: 25px;
}
.embed-pdf {
  width: 100%;
  height: 400px;
}
.page-footer {
  text-align: center;
  color: #222;
  margin-bottom: 40px;
}
.page-footer a {
  color: #222;
}
.page-footer a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 1200px) {
  .topbar .navbar ul.nav.navbar-nav li a {
    font-size: 13px;
    padding: 10px 2px;
  }
}
@media screen and (max-width: 1000px) and (min-width: 601px) {
  .topbar .navbar a.navbar-brand {
    padding-top: 30px;
  }
  .topbar .navbar ul.nav.navbar-nav {
    width: 300px;
    padding-top: 0;
  }
  .topbar .navbar ul.nav.navbar-nav li {
    width: 100%;
    float: right;
    text-align: right;
  }
  .topbar .navbar ul.nav.navbar-nav li a {
    padding: 5px 0;
  }
}
@media screen and (max-width: 600px) {
  .topbar .navbar a.navbar-brand {
    width: 100%;
    text-align: center;
    padding-bottom: 0;
  }
  .topbar .navbar ul.nav.navbar-nav {
    width: 100%;
    margin-top: 0;
  }
  .topbar .navbar ul.nav.navbar-nav li {
    float: left;
    text-align: center;
  }
  .breadcrumb {
    color: #45515b;
    text-shadow: none;
  }
}
.dl-horizontal dt {
  white-space: normal;
}
#compare-votes .bar {
  opacity: 0.5;
}
#compare-votes .axis path,
#compare-votes .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.divider-right {
  border-right: 1px solid #dce0e0;
}
.rightmenu {
  margin-top: -10px;
  margin-bottom: 45px;
}
.rightmenu > li {
  position: relative;
  border-bottom: 1px solid #dce0e0;
  font-size: 16px;
}
.rightmenu > li a:before {
  content: " ";
  width: 35px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border-bottom: 2px solid;
}
.rightmenu > li a {
  display: block;
  padding: 10px 0;
}
.rightmenu > li a:hover {
  text-decoration: underline;
}
.rightmenu > li.rightmenu-controversy a {
  color: #3e99ff;
}
.rightmenu > li.rightmenu-migrations a {
  color: red;
}
.rightmenu > li.rightmenu-tacit a {
  color: #FF962D;
}
.rightmenu > li.rightmenu-proposals a {
  color: #005900;
}
.rightmenu > li.rightmenu-questions a {
  color: #5A167B;
}
