/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
html,
body {
  background: url(../img/header-bg.jpg) top no-repeat #f6f4ef;
  font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
}
a {
  color: #267cbe;
}
a:hover {
  color: #175789;
  text-decoration: none;
}
.topbar {
  background: url(../img/semi-opaque-bg.png) repeat;
  width: 100%;
}
.topbar .navbar {
  background: none;
  border: none;
  margin-bottom: 0;
}
.topbar .navbar .navbar-brand {
  padding: 15px 0;
}
.topbar .navbar ul.nav.navbar-nav {
  float: right;
  padding-top: 25px;
}
.topbar .navbar ul.nav.navbar-nav li {
  margin-left: 20px;
}
.topbar .navbar ul.nav.navbar-nav li a {
  font-weight: 700;
  color: #000;
  font-size: 20px;
}
.topbar .navbar ul.nav.navbar-nav li a:hover {
  color: #069;
}
.home-header-search {
  margin: 80px 0 20px 0;
  background: url(../img/home-header-search-bg.png) repeat;
  padding: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.home-header-search .search-title {
  color: #267cbe;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
}
.home-header-search .search-advanced {
  text-align: right;
  font-weight: 700;
}
.home-header-search hr {
  border-top: 1px solid #bebebe;
  border-bottom: 1px solid #dce0e0;
}
.home-header-search form .form-group {
  padding-left: 0;
  padding-right: 15px;
}
.home-header-search form .form-group.col-sm-1 {
  padding: 0 15px;
}
.home-header-search form input,
.home-header-search form select {
  border: none;
  color: #267cbe;
}
.container-content {
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.content-home {
  margin-bottom: 20px;
}
.content-home .home-section {
  border-bottom: 1px solid #dce0e0;
  margin: 0 20px;
}
.content-home .home-section:last-child {
  border-bottom: none;
}
.content-home .editorial {
  padding: 15px 0;
}
.content-home .editorial h2 {
  font-weight: 900;
  font-size: 14px;
}
.content-home .article-featured {
  padding: 15px 0;
}
.content-home .article-featured .article-title {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 20px;
}
.content-home .article-featured .article-meta {
  margin-bottom: 20px;
}
.content-home .article-featured .article-meta .article-author-image img {
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
}
.content-home .article-featured .article-meta .article-author-meta {
  padding-top: 10px;
}
.content-home .article-featured .article-meta .article-author-meta .article-author-date {
  font-weight: 700;
}
.content-home .article-featured .article-meta .article-author-meta .article-author-occupation {
  font-style: italic;
}
.content-home .middle-info {
  background: #f4f6f7;
  padding: 15px;
}
.content-home .middle-info h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
}
.content-home .middle-info p {
  font-size: 13px;
  font-style: italic;
}
.content-home .middle-info p a {
  font-style: normal;
}
.content-home .articles-list {
  padding: 15px;
}
.content-home .articles-list h3 {
  font-weight: 300;
  font-size: 20px;
  color: #45515b;
  padding-left: 10px;
}
.content-home .articles-list .article-single {
  padding: 23px 25px;
  border-bottom: 1px solid #dce0e0;
}
.content-home .articles-list .article-single:last-child {
  border-bottom: none;
}
.content-home .articles-list .article-single .article-title {
  font-size: 16px;
  font-weight: 700;
}
.content-home h3 {
  font-size: 22px;
  font-weight: 900;
  color: #45515b;
}
.content-home h3 span.number {
  background: #45515b;
  color: #fff;
  font-size: 15px;
  padding: 5px;
  width: 70px;
  margin-left: 10px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
}
.content-home .sub-section {
  padding: 30px 0 30px 20px;
}
.content-home .sub-section h3 {
  margin-top: 0;
  margin-bottom: 20px;
}
.content-home .sub-section.comparison {
  border-bottom: 1px solid #dce0e0;
}
.content-home .sub-section.comparison h4 {
  font-size: 22px;
  margin-top: 20px;
}
.content-home .sub-section.comparison h4 a {
  font-size: 16px;
}
.content-home .sub-section.comparison .graph-info {
  margin: 25px 0;
}
.content-home .sub-section.comparison .graph-info .icon-info {
  padding-top: 7px;
  text-align: right;
}
.content-home .sub-section.proposals {
  border-bottom: 1px solid #dce0e0;
  font-size: 14px;
}
.content-home .sub-section.proposals:last-child {
  border-bottom: none;
}
.content-home .sub-section.proposals a.date {
  font-weight: 700;
}
.content-home .sub-section.statistic {
  margin-left: 20px;
  padding-left: 0;
  border-bottom: 1px solid #dce0e0;
}
.content-home .sub-section.statistic .statistic-title {
  position: relative;
}
.content-home .sub-section.statistic .statistic-title .statistic-title-image img {
  width: 100%;
}
.content-home .sub-section.statistic .statistic-title .statistic-title-text {
  position: absolute;
  bottom: 0;
  font-size: 16px;
  padding: 10px;
}
.content-home .sub-section.statistic .statistic-title .statistic-title-text a {
  color: #fff;
  text-shadow: -3px -1px 2px #969696;
}
.content-home .sub-section.statistic p {
  margin-top: 15px;
}
.content-home .sub-section.public-politics {
  border-bottom: 1px solid #dce0e0;
  /* Will probably not be needed once the graph is made dynamic */
}
.content-home .sub-section.public-politics .piechart {
  text-align: center;
}
.content-home .sub-section.public-politics ul {
  margin-top: 20px;
}
.content-home .sub-section.public-politics .percentage {
  font-weight: 700;
}
.content-home .sub-section.social .icons {
  margin-bottom: 15px;
}
.content-home .sub-section.social .icons a {
  margin-right: 7px;
}
.content-home .sub-section.contribute {
  border: 1px solid #dce0e0;
  padding-left: 0;
  text-align: center;
  font-weight: 700;
  font-size: 22px;
}
.content-home .sub-section.contribute .btn-contribute {
  margin-top: 20px;
  background: #f6d782;
  color: #67541e;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  padding: 8px 15px;
}
.content-home .sub-section.contribute .btn-contribute:hover {
  background: #e6c56b;
}
.laws-list {
  padding-left: 0;
}
.laws-list .law {
  border: 1px solid #dde1db;
  border-left: none;
  margin-bottom: 7px;
  background: #fbfbfb;
}
.laws-list .law .law-status-color {
  float: left;
  width: 1.5%;
  padding: 7px 0;
  height: 35px;
}
.laws-list .law .law-status-color.approved {
  background: #6abb2d;
}
.laws-list .law .law-status-color.pending {
  background: #fcbe18;
}
.laws-list .law .law-status-color.rejected {
  background: #e83c14;
}
.laws-list .law .law-title {
  float: left;
  width: 75.5%;
  padding: 7px 20px;
}
.laws-list .law .law-status-text {
  float: right;
  width: 23%;
  font-size: 13px;
  text-align: right;
  padding: 7px 15px 7px 0;
  font-weight: 700;
  color: #c1c1c1;
  text-transform: uppercase;
}
.persons-list {
  border-bottom: 1px solid #dce0e0;
}
.persons-list .person {
  border: 1px solid #dde1db;
  border-left: none;
  margin-bottom: 7px;
  background: #fbfbfb;
}
.persons-list .person .person-status-color {
  background: #c1c1c1;
  float: left;
  width: 1.5%;
  height: 60px;
}
.persons-list .person .person-image {
  float: left;
  margin-left: 1px;
  width: 7.5%;
}
.persons-list .person .person-details {
  float: left;
  width: 51%;
  padding: 20px 5px;
}
.persons-list .person .person-details span.date {
  margin-right: 25px;
}
.persons-list .person .person-details span.name {
  font-weight: bold;
}
.persons-list .person .person-from,
.persons-list .person .person-to {
  float: left;
  width: 19.5%;
  padding: 20px 15px 20px 0;
  text-align: right;
}
.persons-list .person span.term {
  text-transform: uppercase;
  color: #d0d0d0;
  font-weight: 700;
  margin-right: 10px;
  font-size: 13px;
}
p.full-list {
  text-align: right;
}
.clear {
  clear: both;
}
figure {
  margin-bottom: 15px;
}
.placeholder {
  background: #fda;
  font-size: 200%;
  color: #555;
  padding: 20px;
}
.leaflet-popup-content {
  font-size: 130%;
}
.proposal-activity-at-cd {
  background: #fff0d8;
}
.proposal-activity-at-se {
  background: #dfefff;
}
.proposal-status-inprogress {
  background: #f5f5a6;
}
.proposal-status-approved {
  background: #9df39d;
}
.proposal-status-rejected {
  background: #fcc1c1;
}
.person-image-box {
  text-align: center;
}
.person-image-box img {
  width: 200px;
}
.romania-curata-text {
  white-space: pre-wrap;
}
.transcript-text {
  white-space: pre-wrap;
}
.person-index-search-form {
  margin-bottom: 40px;
}
.compare-headline {
  cursor: pointer;
}
.compare-headline-expanded {
  display: none;
}
.compare-headline.expanded .compare-headline-expanded {
  display: inline;
}
.compare-headline.expanded .compare-headline-collapsed {
  display: none;
}
.compare-list {
  display: none;
}
/*************************
 *   activitychart   *
 *************************/
.chart-axis line,
.chart-axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.chart-axis.y line {
  display: none;
}
.activitychart-line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.activitychart-vacation {
  stroke: none;
}
.membershipchart-rect {
  cursor: pointer;
}
.wordcloud {
  height: 250px;
}
.similarity-circle {
  fill-opacity: 0.5;
}
.similarity-barchart .bar.me {
  fill: steelblue;
}
.similarity-barchart .bar.other {
  fill: grey;
}
.similarity-barchart .number {
  font-size: 10px;
}
.similarity-barchart .number.me {
  stroke: steelblue;
}
.similarity-barchart .number.other {
  stroke: grey;
}
