{% extends 'layout.html' %}


{% block content %}
  <h1>Propunerea {{ proposal.cdep_serial }}</h1>

  <p><a href="{{ proposal.url }}">{{ proposal.url }}</a></p>

  <p>{{ proposal.title }}</p>

  <p>Camera decisională: {{ proposal.decision_chamber.name }}</p>

 {% if sponsorships %}
  <h2>Sponsori</h2>

  <ul>
   {% for sp in sponsorships %}
    {% set mandate = sp['mandate'] %}
    <li>
      {% set url = url_for('pages.person', person_id=mandate.person_id) %}
      <a href="{{ url }}">{{ mandate.person }}</a>
    </li>
   {% endfor %}
  </ul>
 {% endif %}

 {% for sp in sponsorships %}
  <section class="analysisresult">
    <div class="analysisresult-heading">
      <h3>Rezultatul analizei – {{ sp['mandate'].person }}</h3>
    </div>

    {% if sp['match_data'].top_matches %}
      <ul>
      {% for match in sp['match_data'].top_matches %}
        <li>
          {{ proposal.text[:match.token.start][-40:] }}
          <strong class="qmatch-highlight">{{ match.token.text }}</strong>
          {{ proposal.text[match.token.end:][:40] }}
          ({{ match.name }} {{ (match.distance * 100)|int }}%)
        </li>
      {% endfor %}
      </ul>
    {% else %}
      <p>Nu am găsit corespondențe.</p>
    {% endif %}
  </section>
 {% endfor %}

  <section class="originaltext">
    <div class="originaltext-heading">
      <h3>Textul original</h3>
    </div>

    <p>
      {{- proposal.text -}}
    </p>
  </section>
{% endblock %}
