{% extends 'layout.html' %}


{% block content %}
  <h1>Întrebări și interpelări</h1>

  <table class="people-questions">
    <thead>
      <th>Nume</th>
      <th>Județ</th>
      <th>Întrebări și interpelări</th>
    </thead>

    <tbody>
    {% for mandate in mandates %}
      <tr>
        <td>
          {% set url = url_for('pages.person', person_id=mandate.person_id) %}
          <a href="{{ url }}">{{ mandate.person }}</a>
        </td>
        <td>{{ mandate.county_name }}</td>
        <td>
          {% set url = url_for('.mandate_questions', mandate_id=mandate.id) %}
          <a href="{{ url }}">{{ mandate.question_count }}</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
