{% extends 'layout.html' %}


{% block content %}
  {%- from 'bits.html' import breadcrumbs %}
  {%- set breadcrumb_links = [
        (person|string,
            url_for('pages.person', person_id=person.id)),
        ("întrebări și interpelări",
            None),
      ] %}
  {{ breadcrumbs(breadcrumb_links) }}

  <div class="row">
    <div class="topaddressee">
      <table>
        <thead>
          <th colspan="2">Top destinatari</th>
        </thead>

       {% for count, name in addressee_top %}
        <tr>
          <td>{{ "%.0f%%"|format(100 * count / questions|length) }}</td>
          <td>{{ name }}</td>
        </tr>
       {% endfor %}
      </table>
    </div>
  </div>

  <div class="csv">
    <p>
      <a href="?format=csv"><i class="icon-download"></i> csv</a>
    </p>
  </div>

  <table class="person-questions">
    <thead>
      <th>Titlu</th>
      <th>Destinatar</th>
      <th>Dată</th>
      <th>Scor</th>
    </thead>

  {% for question in questions %}
    <tr>
      <td>
        {% set url = url_for('.question_detail', question_id=question.id) %}
        <a href="{{ url }}">{{ question.title|truncate(80) }}</a>
      </td>
      <td>{{ question.addressee }}</td>
      <td>{{ question.date }}</td>
      <td>
        {%- if question.is_local_topic_flag -%}
          manual
        {%- else -%}
          {{ question.score }}
        {%- endif -%}
      </td>
    </tr>
  {% endfor %}
  </table>

{% endblock %}
