{% extends 'layout.html' %}


{% block content %}
  {%- from 'bits.html' import breadcrumbs %}
  {%- set breadcrumb_links = [
        (person|string,
            url_for('pages.person', person_id=person.id)),
        ("întrebări și interpelări",
            None),
      ] %}
  {{ breadcrumbs(breadcrumb_links) }}

  <table class="person-addressee-top">
    <thead>
      <th>Top destinatari</th>
      <th>procent de întrebări</th>
    </thead>

  {% for count, name in addressee_top %}
    <tr>
      <td>{{ name }}</td>
      <td>{{ "%.0f%%"|format(100 * count / questions|length) }}</td>
    </tr>
  {% endfor %}
  </table>

  <table class="person-questions">
    <thead>
      <th>Titlu</th>
      <th>Destinatar</th>
      <th>Dată</th>
      <th>Scor</th>
    </thead>

  {% for question in questions %}
    <tr>
      <td>
        {% set url = url_for('.question_detail', question_id=question.id) %}
        <a href="{{ url }}">{{ question.title|truncate(80) }}</a>
      </td>
      <td>{{ question.addressee }}</td>
      <td>{{ question.date }}</td>
      <td>
        {%- if question.is_local_topic_flag -%}
          manual
        {%- else -%}
          {{ question.score }}
        {%- endif -%}
      </td>
    </tr>
  {% endfor %}
  </table>

{% endblock %}
