{% extends 'layout.html' %}


{% block content %}
  <h1>Întrebări și interpelări</h1>

  <table class="people-questions">
    <thead>
      <th>Nume</th>
      <th>Județ</th>
      <th>Întrebări și interpelări</th>
    </thead>

    <tbody>
    {% for person in people %}
      <tr>
        <td>{{ person.name }}</td>
        <td>{{ person.county_name }}</td>
        <td>
          {% set url = url_for('.person_questions', person_id=person.id) %}
          <a href="{{ url }}">{{ person.question_count }}</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
