{% extends 'layout.html' %}


{% block content %}
  {%- from 'bits.html' import breadcrumbs %}
  {%- set breadcrumb_links = [
        ("mptracker",
            url_for('pages.home')),
        ("voturi",
            None),
      ] %}
  {{ breadcrumbs(breadcrumb_links) }}

  <h1>Voturi</h1>

  <ul>
  {% for voting_session in voting_sessions %}
    <li>
      <a href="{{ url_for('.detail', voting_session_id=voting_session.id) }}">
        {{ voting_session.date }}
        {{ voting_session.subject|truncate(80) }}
      </a>
    </li>
  {% endfor %}
  </ul>
{% endblock %}
